
@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="page-header">
	<div class="container clearfix">
		<div class="page-header__content">
			<h1 class="page-header__title">My account</h1>
		</div>
	</div>
</div>
<div id="site-content" class="site-content">

	<div class="container clearfix ">
		<article id="post-10" class="post-10 page type-page status-publish hentry">
			<div class="woocommerce">
				<div class="motta-myaccount__wrapper">
					<div class="motta-myaccount">
						<img loading="lazy" decoding="async" src="https://secure.gravatar.com/avatar/4e5e4e076a39074668f87d0191d97245?s=60&#038;d=mm&#038;r=g" width="60" height="60" alt="Avatar" class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 photo avatar-default" />
						<div class="motta-myaccount__user">
							<span class="text">Hello!</span>
							<span class="name">adasdasd asda</span>
						</div>
					</div>
					<nav class="woocommerce-MyAccount-navigation">
						<ul>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
								<a href="https://motta.uix.store/my-account/">Dashboard</a>
							</li>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
								<a href="https://motta.uix.store/my-account/orders/">Orders</a>
							</li>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
								<a href="https://motta.uix.store/my-account/downloads/">Downloads</a>
							</li>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
								<a href="https://motta.uix.store/my-account/edit-address/">Addresses</a>
							</li>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
								<a href="https://motta.uix.store/my-account/edit-account/">Account details</a>
							</li>
							<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
								<a href="https://motta.uix.store/my-account/customer-logout/?_wpnonce=99aa4457df">Log out</a>
							</li>
						</ul>
					</nav>

				</div>
				<div class="woocommerce-MyAccount-content">
					<div class="woocommerce-notices-wrapper"></div>
					<h3 class="greeting"> Account overview </h3>

					<p>From your account dashboard you can view your <a href="https://motta.uix.store/my-account/orders/">Recent orders</a>.</p><p>Manage your <a href="https://motta.uix.store/my-account/edit-address/">Shipping</a> and <a href="https://motta.uix.store/my-account/edit-address/">Billing addresses</a>.</p><p>Edit your <a href="https://motta.uix.store/my-account/edit-account/">Password</a> and <a href="https://motta.uix.store/my-account/edit-account/">Account details</a>.</p>
					<p><a href="https://motta.uix.store/dashboard/" class="dokan-btn dokan-btn-theme vendor-dashboard">Go to Vendor Dashboard</a></p>
				</div>
			</div>
		</article>


	</div>
</div><!-- #content -->
