<div id="campaign-bar" class="campaign-bar campaign-bar--before">
    <div class="campaign-bar__container container">
        <div class="campaign-bar__item text-dark">
            <div class="campaign-bar__text">Limited Time Only: Up to 60% off Dining Furniture </div><a href="https://motta.uix.store/shop"
                                                                                                       class="campaign-bar__button motta-button motta-button--subtle">Shop Now</a>
        </div>
    </div>
</div>