<script type='text/javascript'>
	(function () {
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	})();
</script>


<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_6109ba950a8538d219f0519ff7a15415.js?ver=1.0.0"
		id="motta-countdown-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_efc27e253fae1b7b891fb5a40e687768.js?ver=5.9.5"
		id="swv-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
	/* <![CDATA[ */
	var wpcf7 = { "api": { "root": "https:\/\/motta.uix.store\/wp-json\/", "namespace": "contact-form-7\/v1" }, "cached": "1" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_917602d642f84a211838f0c1757c4dc1.js?ver=5.9.5"
		id="contact-form-7-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min.js?ver=8.9.3"
		id="sourcebuster-js-js"></script>
<script type="text/javascript" id="wc-order-attribution-js-extra">
	/* <![CDATA[ */
	var wc_order_attribution = { "params": { "lifetime": 1.0e-5, "session": 30, "ajaxurl": "https:\/\/motta.uix.store\/wp-admin\/admin-ajax.php", "prefix": "wc_order_attribution_", "allowTracking": true }, "fields": { "source_type": "current.typ", "referrer": "current_add.rf", "utm_campaign": "current.cmp", "utm_source": "current.src", "utm_medium": "current.mdm", "utm_content": "current.cnt", "utm_id": "current.id", "utm_term": "current.trm", "session_entry": "current_add.ep", "session_start_time": "current_add.fd", "session_pages": "session.pgs", "session_count": "udata.vst", "user_agent": "udata.uag" } };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.min.js?ver=8.9.3"
		id="wc-order-attribution-js"></script>
<script type="text/javascript" id="wcboost-products-compare-js-extra">
	/* <![CDATA[ */
	var wcboost_products_compare_params = { "page_url": "https:\/\/motta.uix.store\/compare\/", "added_behavior": "popup", "exists_item_behavior": "view", "icon_normal": "<svg width=\"24\" height=\"24\" role=\"image\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" viewBox=\"0 0 576 512\"><path d=\"M422.6 278.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L434.7 176H64c-17.7 0-32-14.3-32-32s14.3-32 32-32H434.7L377.4 54.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l112 112c12.5 12.5 12.5 32.8 0 45.3l-112 112zm-269.3 224l-112-112c-12.5-12.5-12.5-32.8 0-45.3l112-112c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L141.3 336H512c17.7 0 32 14.3 32 32s-14.3 32-32 32H141.3l57.4 57.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0z\"\/><\/svg>", "icon_checked": "<svg width=\"24\" height=\"24\" role=\"image\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" viewBox=\"0 0 512 512\"><path d=\"M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z\"\/><\/svg>", "icon_loading": "<svg width=\"24\" height=\"24\" role=\"image\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" viewBox=\"0 0 512 512\"><path d=\"M304 48C304 74.51 282.5 96 256 96C229.5 96 208 74.51 208 48C208 21.49 229.5 0 256 0C282.5 0 304 21.49 304 48zM304 464C304 490.5 282.5 512 256 512C229.5 512 208 490.5 208 464C208 437.5 229.5 416 256 416C282.5 416 304 437.5 304 464zM0 256C0 229.5 21.49 208 48 208C74.51 208 96 229.5 96 256C96 282.5 74.51 304 48 304C21.49 304 0 282.5 0 256zM512 256C512 282.5 490.5 304 464 304C437.5 304 416 282.5 416 256C416 229.5 437.5 208 464 208C490.5 208 512 229.5 512 256zM74.98 437C56.23 418.3 56.23 387.9 74.98 369.1C93.73 350.4 124.1 350.4 142.9 369.1C161.6 387.9 161.6 418.3 142.9 437C124.1 455.8 93.73 455.8 74.98 437V437zM142.9 142.9C124.1 161.6 93.73 161.6 74.98 142.9C56.24 124.1 56.24 93.73 74.98 74.98C93.73 56.23 124.1 56.23 142.9 74.98C161.6 93.73 161.6 124.1 142.9 142.9zM369.1 369.1C387.9 350.4 418.3 350.4 437 369.1C455.8 387.9 455.8 418.3 437 437C418.3 455.8 387.9 455.8 369.1 437C350.4 418.3 350.4 387.9 369.1 369.1V369.1z\"\/><\/svg>", "i18n_button_add": "Compare", "i18n_button_remove": "Remove", "i18n_button_view": "Browse" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/wcboost-products-compare/assets/js/compare.min.js?ver=1.0.5"
		id="wcboost-products-compare-js"></script>
<script type="text/javascript" id="wcboost-products-compare-fragments-js-extra">
	/* <![CDATA[ */
	var wcboost_products_compare_fragments_params = { "refresh_on_load": "no", "timeout": "5000" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/wcboost-products-compare/assets/js/compare-fragments.min.js?ver=1.0.5"
		id="wcboost-products-compare-fragments-js"></script>
<script type="text/javascript" id="wcboost-variation-swatches-js-extra">
	/* <![CDATA[ */
	var wcboost_variation_swatches_params = { "show_selected_label": "1" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/wcboost-variation-swatches/assets/js/frontend.min.js?ver=1.0.16"
		id="wcboost-variation-swatches-js"></script>
<script type="text/javascript" id="wcboost-wishlist-js-extra">
	/* <![CDATA[ */
	var wcboost_wishlist_params = { "allow_adding_variations": "yes", "wishlist_redirect_after_add": "no", "wishlist_url": "https:\/\/motta.uix.store\/wishlist\/", "exists_item_behavior": "view_wishlist", "i18n_link_copied_notice": "The wishlist link is copied to clipboard", "i18n_close_button_text": "Close", "i18n_add_to_wishlist": "Wishlist", "i18n_view_wishlist": "View", "i18n_remove_from_wishlist": "Remove", "icon_normal": "<span class=\"motta-svg-icon motta-svg-icon--wishlist\" ><svg width=\"24\" height=\"24\" aria-hidden=\"true\" role=\"img\" focusable=\"false\" viewBox=\"0 0 32 32\"><path d=\"M22.736 6.4v0c1.792 0 3.44 1.12 4.128 2.768 0.8 1.92 0.112 4.144-1.856 6.112l-9.024 8.992-9.024-8.976c-1.984-1.984-2.64-4.144-1.824-6.080 0.688-1.68 2.352-2.8 4.144-2.8 1.504 0 3.040 0.752 4.448 2.16l2.256 2.256 2.256-2.256c1.44-1.424 2.992-2.176 4.496-2.176zM22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z\"><\/path><\/svg><\/span>", "icon_filled": "<span class=\"motta-svg-icon motta-svg-icon--wishlist-filled\" ><svg width=\"24\" height=\"24\" aria-hidden=\"true\" role=\"img\" focusable=\"false\" version=\"1.1\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"32\" height=\"32\" viewBox=\"0 0 32 32\"><path d=\"M22.736 3.2c-2.176 0-4.544 0.912-6.752 3.104-2.192-2.176-4.544-3.088-6.704-3.088-6.368 0-11.040 7.904-4.576 14.336l11.28 11.248 11.28-11.248c6.496-6.448 1.856-14.352-4.528-14.352v0z\"><\/path><\/svg><\/span>", "icon_loading": "<svg width=\"24\" height=\"24\" role=\"image\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\" viewBox=\"0 0 512 512\"><path d=\"M304 48C304 74.51 282.5 96 256 96C229.5 96 208 74.51 208 48C208 21.49 229.5 0 256 0C282.5 0 304 21.49 304 48zM304 464C304 490.5 282.5 512 256 512C229.5 512 208 490.5 208 464C208 437.5 229.5 416 256 416C282.5 416 304 437.5 304 464zM0 256C0 229.5 21.49 208 48 208C74.51 208 96 229.5 96 256C96 282.5 74.51 304 48 304C21.49 304 0 282.5 0 256zM512 256C512 282.5 490.5 304 464 304C437.5 304 416 282.5 416 256C416 229.5 437.5 208 464 208C490.5 208 512 229.5 512 256zM74.98 437C56.23 418.3 56.23 387.9 74.98 369.1C93.73 350.4 124.1 350.4 142.9 369.1C161.6 387.9 161.6 418.3 142.9 437C124.1 455.8 93.73 455.8 74.98 437V437zM142.9 142.9C124.1 161.6 93.73 161.6 74.98 142.9C56.24 124.1 56.24 93.73 74.98 74.98C93.73 56.23 124.1 56.23 142.9 74.98C161.6 93.73 161.6 124.1 142.9 142.9zM369.1 369.1C387.9 350.4 418.3 350.4 437 369.1C455.8 387.9 455.8 418.3 437 437C418.3 455.8 387.9 455.8 369.1 437C350.4 418.3 350.4 387.9 369.1 369.1V369.1z\"\/><\/svg>" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/wcboost-wishlist/assets/js/wishlist.min.js?ver=1.0.11"
		id="wcboost-wishlist-js"></script>
<script type="text/javascript" id="wcboost-wishlist-fragments-js-extra">
	/* <![CDATA[ */
	var wcboost_wishlist_fragments_params = { "refresh_on_load": "no", "timeout": "5000" };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/wcboost-wishlist/assets/js/wishlist-fragments.min.js?ver=1.0.11"
		id="wcboost-wishlist-fragments-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_62f1daa1ede900c0a02acd52d0a6d045.js?ver=20220319"
		id="motta_variation_images-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js?ver=4.0.3-wc.8.9.3"
		id="select2-js" data-wp-strategy="defer"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_062a8544d0420d750f9f36aae4d3f221.js?ver=0.2-wp"
		id="jquery-serialize-object-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_19175f851c983f49313656d3c954c37b.js?ver=20220606"
		id="motta-products-filter-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/themes/motta/assets/js/plugins/notify.min.js?ver=1.0.0"
		id="notify-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/themes/motta/assets/js/plugins/swiper.min.js?ver=5.3.8"
		id="swiper-js"></script>
<script type="text/javascript" src="https://motta.uix.store/wp-includes/js/imagesloaded.min.js?ver=5.0.0"
		id="imagesloaded-js"></script>
<script type="text/javascript" id="motta-js-extra">
	/* <![CDATA[ */
	var mottaData = { "direction": "false", "ajax_url": "\/?wc-ajax=%%endpoint%%", "nonce": "2145047918", "sticky_header": "1", "sticky_header_on": "down", "blog_nav_ajax_url_change": "1", "blog_archive_nav_ajax_url_change": null, "header_search_type": "product", "header_ajax_search": "1", "header_search_number": "3", "post_type": "product", "mobile_product_columns": "2", "product_quickview_nonce": "0144f97d54", "product_card_layout": "1", "added_to_cart_notice": { "header_cart_icon_behaviour": "panel", "added_to_cart_notice_layout": "popup" } };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/themes/motta/assets/js/scripts.min.js?ver=20240520"
		id="motta-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_f67001b5fc424e1f3e1dda4492ae9224.js?ver=1.0"
		id="motta-popup-js"></script>
<script type="text/javascript" src="https://stats.wp.com/e-202444.js" id="jetpack-stats-js"
		data-wp-strategy="defer"></script>
<script type="text/javascript" id="jetpack-stats-js-after">
	/* <![CDATA[ */
	_stq = window._stq || [];
	_stq.push(["view", JSON.parse("{\"v\":\"ext\",\"blog\":\"222461959\",\"post\":\"4398\",\"tz\":\"0\",\"srv\":\"motta.uix.store\",\"j\":\"1:13.4.4\"}")]);
	_stq.push(["clickTrackerInit", "222461959", "4398"]);
	/* ]]> */
</script>
<script type="text/javascript" src="https://motta.uix.store/wp-includes/js/jquery/ui/core.min.js?ver=1.13.2"
		id="jquery-ui-core-js"></script>
<script type="text/javascript" src="https://motta.uix.store/wp-includes/js/jquery/ui/mouse.min.js?ver=1.13.2"
		id="jquery-ui-mouse-js"></script>
<script type="text/javascript" src="https://motta.uix.store/wp-includes/js/jquery/ui/slider.min.js?ver=1.13.2"
		id="jquery-ui-slider-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js?ver=8.9.3"
		id="wc-jquery-ui-touchpunch-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_f9cc7ecc98819260eec70f5f88b7a77a.js?ver=1.4.1.9"
		id="wc-price-slider_33-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_f2c754105a115c198f6d0bd716b1fc90.js?ver=1.4.1.9"
		id="woocs-real-active-filters-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_e498db0c9bebdf5bdd2d3d2053058054.js?ver=1.4.1.9"
		id="woocs-price-filter-frontend-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/woocommerce-currency-switcher/js/jquery.ddslick.min.js?ver=1.4.1.9"
		id="jquery.ddslick.min-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_54114703447169a141506ee11159d5f0.js?ver=1.4.1.9"
		id="woocommerce-currency-switcher-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.21.8"
		id="elementor-webpack-runtime-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.21.8"
		id="elementor-frontend-modules-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2"
		id="elementor-waypoints-js"></script>
<script type="text/javascript" id="elementor-frontend-js-before">
	/* <![CDATA[ */
	var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close", "a11yCarouselWrapperAriaLabel": "Carousel | Horizontal scrolling: Arrow Left & Right", "a11yCarouselPrevSlideMessage": "Previous slide", "a11yCarouselNextSlideMessage": "Next slide", "a11yCarouselFirstSlideMessage": "This is the first slide", "a11yCarouselLastSlideMessage": "This is the last slide", "a11yCarouselPaginationBulletMessage": "Go to slide" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile Portrait", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Landscape", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet Portrait", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Landscape", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.21.8", "is_static": false, "experimentalFeatures": { "e_optimized_assets_loading": true, "e_optimized_css_loading": true, "e_font_icon_svg": true, "additional_custom_breakpoints": true, "e_swiper_latest": true, "container_grid": true, "home_screen": true, "ai-layout": true, "landing-pages": true }, "urls": { "assets": "https:\/\/motta.uix.store\/wp-content\/plugins\/elementor\/assets\/" }, "swiperClass": "swiper", "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 4398, "title": "Motta%20%E2%80%93%20Just%20another%20WordPress%20site", "excerpt": "", "featuredImage": false } };
	/* ]]> */
</script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.21.8"
		id="elementor-frontend-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.14.0"
		id="regenerator-runtime-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_5fa5bc857e0cc8db59e33b0c0b5b427f.js?ver=1.0.0"
		id="motta-elementor-widgets-js"></script>
<script type="text/javascript" defer
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_890cc3c1dbfa7a6cf4ef53207b32d68c.js?ver=4.9.13"
		id="mc4wp-forms-api-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/plugins/motta-addons/assets/js/plugins/jarallax.min.js?ver=1.12.8"
		id="jarallax-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_cab8ab60b53c612270a060877805d2b4.js?ver=1.0"
		id="motta-elementor-parallax-js"></script>
<script type="text/javascript"
		src="https://motta.uix.store/wp-content/cache/autoptimize/1/js/autoptimize_single_d664d50b8d12c97b416d6ed1ded49479.js?ver=20220721"
		id="motta-child-script-js"></script>
<script type="text/javascript">
	(function (undefined) {
		let scriptOptions = { "_localizedStrings": { "redirect_overlay_title": "Hold On", "redirect_overlay_text": "You are being redirected to another page,<br>it may take a few seconds.", "webview_notification_text": "The selected provider doesn't support embedded browsers!" }, "_targetWindow": "prefer-popup", "_redirectOverlay": "overlay-with-spinner-and-message", "_unsupportedWebviewBehavior": "" };
		/**
		 * Used when Cross-Origin-Opener-Policy blocked the access to the opener. We can't have a reference of the opened windows, so we should attempt to refresh only the windows that has opened popups.
		 */
		window._nslHasOpenedPopup = false;
		window._nslWebViewNoticeElement = null;

		window.NSLPopup = function (url, title, w, h) {
			const userAgent = navigator.userAgent,
				mobile = function () {
					return /\b(iPhone|iP[ao]d)/.test(userAgent) ||
						/\b(iP[ao]d)/.test(userAgent) ||
						/Android/i.test(userAgent) ||
						/Mobile/i.test(userAgent);
				},
				screenX = window.screenX !== undefined ? window.screenX : window.screenLeft,
				screenY = window.screenY !== undefined ? window.screenY : window.screenTop,
				outerWidth = window.outerWidth !== undefined ? window.outerWidth : document.documentElement.clientWidth,
				outerHeight = window.outerHeight !== undefined ? window.outerHeight : document.documentElement.clientHeight - 22,
				targetWidth = mobile() ? null : w,
				targetHeight = mobile() ? null : h,
				left = parseInt(screenX + (outerWidth - targetWidth) / 2, 10),
				right = parseInt(screenY + (outerHeight - targetHeight) / 2.5, 10),
				features = [];
			if (targetWidth !== null) {
				features.push('width=' + targetWidth);
			}
			if (targetHeight !== null) {
				features.push('height=' + targetHeight);
			}
			features.push('left=' + left);
			features.push('top=' + right);
			features.push('scrollbars=1');

			const newWindow = window.open(url, title, features.join(','));

			if (window.focus) {
				newWindow.focus();
			}

			window._nslHasOpenedPopup = true;

			return newWindow;
		};

		let isWebView = null;

		function checkWebView() {
			if (isWebView === null) {
				function _detectOS(ua) {
					if (/Android/.test(ua)) {
						return "Android";
					} else if (/iPhone|iPad|iPod/.test(ua)) {
						return "iOS";
					} else if (/Windows/.test(ua)) {
						return "Windows";
					} else if (/Mac OS X/.test(ua)) {
						return "Mac";
					} else if (/CrOS/.test(ua)) {
						return "Chrome OS";
					} else if (/Firefox/.test(ua)) {
						return "Firefox OS";
					}
					return "";
				}

				function _detectBrowser(ua) {
					let android = /Android/.test(ua);

					if (/Opera Mini/.test(ua) || / OPR/.test(ua) || / OPT/.test(ua)) {
						return "Opera";
					} else if (/CriOS/.test(ua)) {
						return "Chrome for iOS";
					} else if (/Edge/.test(ua)) {
						return "Edge";
					} else if (android && /Silk\//.test(ua)) {
						return "Silk";
					} else if (/Chrome/.test(ua)) {
						return "Chrome";
					} else if (/Firefox/.test(ua)) {
						return "Firefox";
					} else if (android) {
						return "AOSP";
					} else if (/MSIE|Trident/.test(ua)) {
						return "IE";
					} else if (/Safari\//.test(ua)) {
						return "Safari";
					} else if (/AppleWebKit/.test(ua)) {
						return "WebKit";
					}
					return "";
				}

				function _detectBrowserVersion(ua, browser) {
					if (browser === "Opera") {
						return /Opera Mini/.test(ua) ? _getVersion(ua, "https://motta.uix.store/Opera Mini/") :
							/ OPR/.test(ua) ? _getVersion(ua, "https://motta.uix.store/OPR/") :
								_getVersion(ua, "https://motta.uix.store/OPT/");
					} else if (browser === "Chrome for iOS") {
						return _getVersion(ua, "https://motta.uix.store/CriOS/");
					} else if (browser === "Edge") {
						return _getVersion(ua, "https://motta.uix.store/Edge/");
					} else if (browser === "Chrome") {
						return _getVersion(ua, "https://motta.uix.store/Chrome/");
					} else if (browser === "Firefox") {
						return _getVersion(ua, "https://motta.uix.store/Firefox/");
					} else if (browser === "Silk") {
						return _getVersion(ua, "https://motta.uix.store/Silk/");
					} else if (browser === "AOSP") {
						return _getVersion(ua, "https://motta.uix.store/Version/");
					} else if (browser === "IE") {
						return /IEMobile/.test(ua) ? _getVersion(ua, "https://motta.uix.store/IEMobile/") :
							/MSIE/.test(ua) ? _getVersion(ua, "MSIE ")
								:
								_getVersion(ua, "rv:");
					} else if (browser === "Safari") {
						return _getVersion(ua, "https://motta.uix.store/Version/");
					} else if (browser === "WebKit") {
						return _getVersion(ua, "https://motta.uix.store/WebKit/");
					}
					return "0.0.0";
				}

				function _getVersion(ua, token) {
					try {
						return _normalizeSemverString(ua.split(token)[1].trim().split(/[^\w\.]/)[0]);
					} catch (o_O) {
					}
					return "0.0.0";
				}

				function _normalizeSemverString(version) {
					const ary = version.split(/[\._]/);
					return (parseInt(ary[0], 10) || 0) + "." +
						(parseInt(ary[1], 10) || 0) + "." +
						(parseInt(ary[2], 10) || 0);
				}

				function _isWebView(ua, os, browser, version, options) {
					switch (os + browser) {
						case "iOSSafari":
							return false;
						case "iOSWebKit":
							return _isWebView_iOS(options);
						case "AndroidAOSP":
							return false;
						case "AndroidChrome":
							return parseFloat(version) >= 42 ? /; wv/.test(ua) : /\d{2}\.0\.0/.test(version) ? true : _isWebView_Android(options);
					}
					return false;
				}

				function _isWebView_iOS(options) {
					const document = (window["document"] || {});

					if ("WEB_VIEW" in options) {
						return options["WEB_VIEW"];
					}
					return !("fullscreenEnabled" in document || "webkitFullscreenEnabled" in document || false);
				}

				function _isWebView_Android(options) {
					if ("WEB_VIEW" in options) {
						return options["WEB_VIEW"];
					}
					return !("requestFileSystem" in window || "webkitRequestFileSystem" in window || false);
				}

				const options = {},
					nav = window.navigator || {},
					ua = nav.userAgent || "",
					os = _detectOS(ua),
					browser = _detectBrowser(ua),
					browserVersion = _detectBrowserVersion(ua, browser);

				isWebView = _isWebView(ua, os, browser, browserVersion, options);
			}

			return isWebView;
		}

		function isAllowedWebViewForUserAgent(provider) {
			const facebookAllowedWebViews = [
				'Instagram',
				'FBAV',
				'FBAN'
			];
			let whitelist = [];

			if (provider && provider === 'facebook') {
				whitelist = facebookAllowedWebViews;
			}

			const nav = window.navigator || {},
				ua = nav.userAgent || "";

			if (whitelist.length && ua.match(new RegExp(whitelist.join('|')))) {
				return true;
			}

			return false;
		}

		function disableButtonInWebView(providerButtonElement) {
			if (providerButtonElement) {
				providerButtonElement.classList.add('nsl-disabled-provider');
				providerButtonElement.setAttribute('href', '#');

				providerButtonElement.addEventListener('pointerdown', (e) => {
					if (!window._nslWebViewNoticeElement) {
						window._nslWebViewNoticeElement = document.createElement('div');
						window._nslWebViewNoticeElement.id = "nsl-notices-fallback";
						window._nslWebViewNoticeElement.addEventListener('pointerdown', function (e) {
							this.parentNode.removeChild(this);
							window._nslWebViewNoticeElement = null;
						});
						const webviewNoticeHTML = '<div class="error"><p>' + scriptOptions._localizedStrings.webview_notification_text + '</p></div>';

						window._nslWebViewNoticeElement.insertAdjacentHTML("afterbegin", webviewNoticeHTML);
						document.body.appendChild(window._nslWebViewNoticeElement);
					}
				});
			}

		}

		window._nslDOMReady(function () {

			window.nslRedirect = function (url) {
				if (scriptOptions._redirectOverlay) {
					const overlay = document.createElement('div');
					overlay.id = "nsl-redirect-overlay";
					let overlayHTML = '';
					const overlayContainer = "<div id='nsl-redirect-overlay-container'>",
						overlayContainerClose = "</div>",
						overlaySpinner = "<div id='nsl-redirect-overlay-spinner'></div>",
						overlayTitle = "<p id='nsl-redirect-overlay-title'>" + scriptOptions._localizedStrings.redirect_overlay_title + "</p>",
						overlayText = "<p id='nsl-redirect-overlay-text'>" + scriptOptions._localizedStrings.redirect_overlay_text + "</p>";

					switch (scriptOptions._redirectOverlay) {
						case "overlay-only":
							break;
						case "overlay-with-spinner":
							overlayHTML = overlayContainer + overlaySpinner + overlayContainerClose;
							break;
						default:
							overlayHTML = overlayContainer + overlaySpinner + overlayTitle + overlayText + overlayContainerClose;
							break;
					}

					overlay.insertAdjacentHTML("afterbegin", overlayHTML);
					document.body.appendChild(overlay);
				}

				window.location = url;
			};

			let targetWindow = scriptOptions._targetWindow || 'prefer-popup',
				lastPopup = false;


			const buttonLinks = document.querySelectorAll(' a[data-plugin="nsl"][data-action="connect"], a[data-plugin="nsl"][data-action="link"]');
			buttonLinks.forEach(function (buttonLink) {
				buttonLink.addEventListener('click', function (e) {
					if (lastPopup && !lastPopup.closed) {
						e.preventDefault();
						lastPopup.focus();
					} else {

						let href = this.href,
							success = false;
						if (href.indexOf('?') !== -1) {
							href += '&';
						} else {
							href += '?';
						}

						const redirectTo = this.dataset.redirect;
						if (redirectTo === 'current') {
							href += 'redirect=' + encodeURIComponent(window.location.href) + '&';
						} else if (redirectTo && redirectTo !== '') {
							href += 'redirect=' + encodeURIComponent(redirectTo) + '&';
						}

						if (targetWindow !== 'prefer-same-window' && checkWebView()) {
							targetWindow = 'prefer-same-window';
						}

						if (targetWindow === 'prefer-popup') {
							lastPopup = NSLPopup(href + 'display=popup', 'nsl-social-connect', this.dataset.popupwidth, this.dataset.popupheight);
							if (lastPopup) {
								success = true;
								e.preventDefault();
							}
						} else if (targetWindow === 'prefer-new-tab') {
							const newTab = window.open(href + 'display=popup', '_blank');
							if (newTab) {
								if (window.focus) {
									newTab.focus();
								}
								success = true;
								window._nslHasOpenedPopup = true;
								e.preventDefault();
							}
						}

						if (!success) {
							window.location = href;
							e.preventDefault();
						}
					}
				});
			});

			let buttonCountChanged = false;

			const googleLoginButtons = document.querySelectorAll(' a[data-plugin="nsl"][data-provider="google"]');
			if (googleLoginButtons.length && checkWebView()) {
				googleLoginButtons.forEach(function (googleLoginButton) {
					if (scriptOptions._unsupportedWebviewBehavior === 'disable-button') {
						disableButtonInWebView(googleLoginButton);
					} else {
						googleLoginButton.remove();
						buttonCountChanged = true;
					}
				});
			}

			const facebookLoginButtons = document.querySelectorAll(' a[data-plugin="nsl"][data-provider="facebook"]');
			if (facebookLoginButtons.length && checkWebView() && /Android/.test(window.navigator.userAgent) && !isAllowedWebViewForUserAgent('facebook')) {
				facebookLoginButtons.forEach(function (facebookLoginButton) {
					if (scriptOptions._unsupportedWebviewBehavior === 'disable-button') {
						disableButtonInWebView(facebookLoginButton);
					} else {
						facebookLoginButton.remove();
						buttonCountChanged = true;
					}
				});
			}

			const separators = document.querySelectorAll('div.nsl-separator');
			if (buttonCountChanged && separators.length) {
				separators.forEach(function (separator) {
					const separatorParentNode = separator.parentNode;
					if (separatorParentNode) {
						const separatorButtonContainer = separatorParentNode.querySelector('div.nsl-container-buttons');
						if (separatorButtonContainer && !separatorButtonContainer.hasChildNodes()) {
							separator.remove();
						}
					}
				})
			}
		});

		/**
		 * Cross-Origin-Opener-Policy blocked the access to the opener
		 */
		if (typeof BroadcastChannel === "function") {
			const _nslLoginBroadCastChannel = new BroadcastChannel('nsl_login_broadcast_channel');
			_nslLoginBroadCastChannel.onmessage = (event) => {
				if (window?._nslHasOpenedPopup && event.data?.action === 'redirect') {
					window._nslHasOpenedPopup = false;

					const url = event.data?.href;
					_nslLoginBroadCastChannel.close();
					if (typeof window.nslRedirect === 'function') {
						window.nslRedirect(url);
					} else {
						window.opener.location = url;
					}
				}
			};
		}
	})();</script><!-- WooCommerce JavaScript -->
<script type="text/javascript">
	jQuery(function ($) {
		jQuery('div.woocommerce').on('click', 'a.remove', function () {
			var productID = jQuery(this).data('product_id');
			var quantity = jQuery(this).parent().parent().find('.qty').val()
			var productDetails = {
				'id': productID,
				'quantity': quantity ? quantity : '1',
			};
			_wca.push({
				'_en': 'woocommerceanalytics_remove_from_cart',
				'pi': productDetails.id,
				'pq': productDetails.quantity, 'blog_id': '222461959', 'ui': 'null', 'url': 'https://motta.uix.store', 'woo_version': '8.9.3', 'store_admin': '0', 'device': 'desktop', 'template_used': '0', 'additional_blocks_on_cart_page': [], 'additional_blocks_on_checkout_page': [], 'store_currency': 'USD', 'cart_page_contains_cart_block': '0', 'cart_page_contains_cart_shortcode': '1', 'checkout_page_contains_checkout_block': '0', 'checkout_page_contains_checkout_shortcode': '1',
			});
		});
	});
</script>

<script>(function () { function c() { var b = a.contentDocument || a.contentWindow.document; if (b) { var d = b.createElement('script'); d.innerHTML = "window.__CF$cv$params={r:'8da7f1677b3f5dcf',t:'MTczMDI1NTAwNS4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='https://motta.uix.store/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);"; b.getElementsByTagName('head')[0].appendChild(d) } } if (document.body) { var a = document.createElement('iframe'); a.height = 1; a.width = 1; a.style.position = 'absolute'; a.style.top = 0; a.style.left = 0; a.style.border = 'none'; a.style.visibility = 'hidden'; document.body.appendChild(a); if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else { var e = document.onreadystatechange || function () { }; document.onreadystatechange = function (b) { e(b); 'loading' !== document.readyState && (document.onreadystatechange = e, c()) } } } })();</script>
<script defer
		src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
		integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
		data-cf-beacon='{"rayId":"8da7f1677b3f5dcf","version":"2024.10.4","r":1,"serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"96b5eb0ac3954f4b8474d46194c147bf","b":1}'
		crossorigin="anonymous"></script>