<footer id="site-footer" class="site-footer">
	<div class="footer-main ">
		<div data-elementor-type="wp-post" data-elementor-id="3007" class="elementor elementor-3007">
			<section class="elementor-section elementor-top-section elementor-element elementor-element-28fbc9cc elementor-section-content-space-between elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="28fbc9cc" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a023bbb"
						 data-id="a023bbb" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-374188e9 motta-icon-box__icon-position--top elementor-widget elementor-widget-motta-icon-box"
								 data-id="374188e9" data-element_type="widget"
								 data-widget_type="motta-icon-box.default">
								<div class="elementor-widget-container">
									<div class="motta-icon-box icon-type-icon">
										<div class="motta-icon-box__icon">
											<span class="motta-svg-icon">
												<svg xmlns="http://www.w3.org/2000/svg"
													 width="32" height="32" viewBox="0 0 32 32">
													<title>call-footer</title>
													<path d="M26.707 31.36c-0.267 0-0.52-0.013-0.787-0.067-4.253-0.667-8.253-2.213-11.867-4.587-3.507-2.307-6.453-5.253-8.76-8.76-2.373-3.613-3.92-7.613-4.587-11.867-0.227-1.453 0.187-2.92 1.133-4.040 0.933-1.093 2.28-1.707 3.72-1.707h4.467c2.347 0 4.373 1.693 4.813 4.013 0.107 0.533 0.227 1.040 0.387 1.547 0.547 1.813 0.080 3.733-1.187 5.013-1.107 1.107-1.213 2.773-0.293 3.92 1.013 1.267 2.16 2.427 3.427 3.427 1.147 0.92 2.813 0.813 3.867-0.24 1.333-1.333 3.253-1.787 5.067-1.24 0.507 0.147 1.027 0.28 1.547 0.373v0c2.32 0.453 4.013 2.48 4.013 4.827v4.467c0 1.427-0.627 2.787-1.707 3.72-0.907 0.787-2.067 1.2-3.253 1.2zM5.547 2.333c-0.853 0-1.64 0.36-2.2 1.013-0.573 0.667-0.813 1.547-0.68 2.427 0.627 3.973 2.067 7.707 4.28 11.080 2.147 3.28 4.907 6.027 8.187 8.187 3.387 2.213 7.107 3.667 11.080 4.28 0.88 0.147 1.76-0.107 2.427-0.68 0.653-0.56 1.013-1.333 1.013-2.2v-4.467c0-1.387-1-2.587-2.387-2.853-0.573-0.107-1.16-0.253-1.747-0.427-1.107-0.333-2.267-0.067-3.027 0.693-1.827 1.827-4.64 2-6.587 0.44-1.387-1.107-2.64-2.36-3.747-3.747-1.533-1.947-1.373-4.76 0.4-6.533 0.813-0.813 1.080-1.973 0.747-3.080-0.173-0.56-0.32-1.147-0.427-1.747-0.267-1.387-1.467-2.387-2.853-2.387h-4.48z">
													</path>
													<path d="M31.667 12h-2c0-5.333-4.333-9.667-9.667-9.667v-2c6.44 0 11.667 5.24 11.667 11.667z">
													</path>
													<path d="M26.333 12h-2c0-2.387-1.947-4.333-4.333-4.333v-2c3.493 0 6.333 2.84 6.333 6.333z">
													</path>
												</svg>
											</span>
										</div>
										<div class="motta-icon-box__wrapper">
											<h6 class="motta-icon-box__title">Call</h6>
											<div class="motta-icon-box__content">
												Call us from 8am to<br> 12am
												ET.
											</div>
											<a class="motta-button motta-button-primary  motta-button--text  motta-button--color-black  motta-button--medium"
											   href="tel:1-866-237-8289">
												<span class="motta-button__text">1-866-237-8289</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5e4686b4"
						 data-id="5e4686b4" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-72405db2 motta-icon-box__icon-position--top elementor-widget elementor-widget-motta-icon-box"
								 data-id="72405db2" data-element_type="widget"
								 data-widget_type="motta-icon-box.default">
								<div class="elementor-widget-container">
									<div class="motta-icon-box icon-type-icon">
										<div class="motta-icon-box__icon">
											<span class="motta-svg-icon">
												<svg xmlns="http://www.w3.org/2000/svg"
													 width="32" height="32" viewBox="0 0 32 32">
													<title>email-footer</title>
													<path d="M29.453 11.96l-12-9.6c-0.853-0.68-2.053-0.68-2.92 0l-12 9.6c-0.56 0.44-0.88 1.107-0.88 1.827v14.027c0 1.28 1.053 2.333 2.333 2.333h24c1.28 0 2.333-1.053 2.333-2.333v-14.027c0.013-0.707-0.307-1.373-0.867-1.827zM15.787 3.933c0.067-0.053 0.133-0.080 0.213-0.080s0.147 0.027 0.213 0.067l11.533 9.227-11.427 7.107c-0.16 0.107-0.453 0.107-0.613 0l-11.44-7.107 11.52-9.213zM28 28.147h-24c-0.187 0-0.333-0.147-0.333-0.333v-12.68l10.973 6.827c0.413 0.253 0.88 0.373 1.36 0.373s0.96-0.12 1.36-0.373l10.973-6.827v12.68c0 0.187-0.147 0.333-0.333 0.333z">
													</path>
												</svg>
											</span>
										</div>
										<div class="motta-icon-box__wrapper">
											<h6 class="motta-icon-box__title">Email</h6>
											<div class="motta-icon-box__content">
												Our response time is<br> 1 to 3
												business days.
											</div>
											<a class="motta-button motta-button-primary  motta-button--text  motta-button--color-black  motta-button--medium"
											   href="https://motta.uix.store/cdn-cgi/l/email-protection#6805071c1c09281d0110461b1c071a0d460b0705">
												<span class="motta-button__text">Send a Message</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bcb7c5e"
						 data-id="bcb7c5e" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-3e638ffc elementor-widget elementor-widget-motta-heading"
								 data-id="3e638ffc" data-element_type="widget"
								 data-widget_type="motta-heading.default">
								<div class="elementor-widget-container">
									<div class="motta-heading-elementor motta-heading__button-on">
										<h4 class="motta-heading motta-heading--large">
											Let’s keep in touch
										</h4>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-4e405fb5 elementor-widget elementor-widget-text-editor"
								 data-id="4e405fb5" data-element_type="widget"
								 data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Get recommendations, tips, updates, promotions and more.</p>
								</div>
							</div>
							<div class="elementor-element elementor-element-52a642f6 motta-subscribe-box-mobile-position--inside motta-skin--raised motta-subscribe-box-form-items--row motta-shape--default motta-subscribe-box-position--outside elementor-widget elementor-widget-motta-subscribe-box"
								 data-id="52a642f6" data-element_type="widget"
								 data-widget_type="motta-subscribe-box.default">
								<div class="elementor-widget-container">
									<div class="motta-subscribe-box motta-custom-button--skin">
										<div class="motta-subscribe-box__content">
											<script data-cfasync="false"
													src="https://motta.uix.store/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
											<script>
												(function () {
													window.mc4wp = window.mc4wp || {
														listeners: [],
														forms: {
															on: function (evt, cb) {
																window.mc4wp.listeners.push(
																	{
																		event: evt,
																		callback: cb
																	}
																);
															}
														}
													}
												})();
											</script><!-- Mailchimp for WordPress v4.9.13 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
											<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-192"
												  method="post" data-id="192" data-name="Newsletter">
												<div class="mc4wp-form-fields">
													<input type="email" name="EMAIL"
														   placeholder="Enter your email adress" required="">
													<input type="submit" value="Subscribe">

												</div><label style="display: none !important;">
													Leave this field
													empty if you're human: <input type="text"
																				  name="_mc4wp_honeypot" value="" tabindex="-1"
																				  autocomplete="off" />
												</label><input type="hidden"
															   name="_mc4wp_timestamp" value="1730255004" /><input type="hidden" name="_mc4wp_form_id" value="192" /><input type="hidden" name="_mc4wp_form_element_id"
																																							 value="mc4wp-form-1" />
												<div class="mc4wp-response"></div>
											</form><!-- / Mailchimp for WordPress Plugin -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-662c7999 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="662c7999" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f9a414d"
						 data-id="2f9a414d" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-8a2d7c8 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="8a2d7c8" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-7ebe35bb elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="7ebe35bb" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-bc04f9"
						 data-id="bc04f9" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-60d3cf8f elementor-widget elementor-widget-html"
								 data-id="60d3cf8f" data-element_type="widget" data-widget_type="html.default">
								<div class="elementor-widget-container">
									<img class="alignnone size-full wp-image-3054"
										 src="https://motta.uix.store/wp-content/uploads/2022/10/Logo-v1.png"
										 alt="" width="114" height="32" />
								</div>
							</div>
							<div class="elementor-element elementor-element-3b1ba76e elementor-widget elementor-widget-motta-heading"
								 data-id="3b1ba76e" data-element_type="widget"
								 data-widget_type="motta-heading.default">
								<div class="elementor-widget-container">
									<div class="motta-heading-elementor motta-heading__button-on">
										<h5 class="motta-heading motta-heading--default">
											Best For Shopping
										</h5>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-4cf514cb elementor-widget elementor-widget-text-editor"
								 data-id="4cf514cb" data-element_type="widget"
								 data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									Sed do eiusmod tempor <br>incididuntut labore dolore magna.
								</div>
							</div>
							<div class="elementor-element elementor-element-6572f6af elementor-widget elementor-widget-motta-social-icons"
								 data-id="6572f6af" data-element_type="widget"
								 data-widget_type="motta-social-icons.default">
								<div class="elementor-widget-container">
									<div class="motta-social-icons__wrapper">
										<a class="motta-social-icons__item motta-social-icon-twitter motta-repeater-item-48272a2"
										   href="https://twitter.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-facebook-square motta-repeater-item-4c9cfd4"
										   href="https://www.facebook.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-facebook-square"
													 viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-youtube motta-repeater-item-c175218"
										   href="https://www.youtube.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-instagram motta-repeater-item-cfb8721"
										   href="https://www.instagram.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-instagram"
													 viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-whatsapp motta-repeater-item-65b6e37"
										   href="https://www.whatsapp.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z">
													</path>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-142b1e1c elementor-hidden-desktop elementor-hidden-tablet elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="142b1e1c" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-1bfa5f64 elementor-hidden-mobile"
						 data-id="1bfa5f64" data-element_type="column">
						<div class="elementor-widget-wrap">
						</div>
					</div>
					<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-5ca00713"
						 data-id="5ca00713" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-52da5be4 motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="52da5be4" data-element_type="widget"
								 data-settings="{&quot;toggle_menu_mobile&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Get to Know Us</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-know-us"
												class="nav-menu motta-navigation-menu__menu">
												<li id="menu-item-6792"
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6792">
													<a href="https://motta.uix.store/about-us-v1/"
													   data-title="About Us">About Us</a>
												</li>
												<li id="menu-item-6793"
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6793">
													<a href="https://motta.uix.store/blog/"
													   data-title="News &amp; Blog">News &#038; Blog</a>
												</li>
												<li id="menu-item-6794"
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6794">
													<a href="https://motta.uix.store/careers/"
													   data-title="Careers">Careers</a>
												</li>
												<li id="menu-item-6660"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6660">
													<a href="https://motta.uix.store/investors/"
													   data-title="Investors">Investors</a>
												</li>
												<li id="menu-item-6795"
													class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6795">
													<a href="https://motta.uix.store/contact-us-v1/"
													   data-title="Contact Us">Contact Us</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1fb3f64d elementor-hidden-desktop elementor-hidden-tablet elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="1fb3f64d" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-aa41747"
						 data-id="aa41747" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-7b13e2c6 motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="7b13e2c6" data-element_type="widget"
								 data-settings="{&quot;toggle_menu_mobile&quot;:&quot;yes&quot;,&quot;toggle_menu&quot;:&quot;no&quot;,&quot;toggle_status&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Customer Service</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-service"
												class="nav-menu motta-navigation-menu__menu">
												<li id="menu-item-6649"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6649">
													<a href="https://motta.uix.store/help-center/"
													   data-title="Help Center">Help Center</a>
												</li>
												<li id="menu-item-6650"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6650">
													<a href="https://motta.uix.store/faq-v1/"
													   data-title="FAQ’s">FAQ’s</a>
												</li>
												<li id="menu-item-6651"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6651">
													<a href="https://motta.uix.store/legal/accessibility/"
													   data-title="Accessibility">Accessibility</a>
												</li>
												<li id="menu-item-6652"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6652">
													<a href="https://motta.uix.store/feedback/"
													   data-title="Feedback">Feedback</a>
												</li>
												<li id="menu-item-6653"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6653">
													<a href="https://motta.uix.store/size-guide/"
													   data-title="Size Guide">Size Guide</a>
												</li>
												<li id="menu-item-6654"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6654">
													<a href="https://motta.uix.store/payment-method/"
													   data-title="Payment Method">Payment Method</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6b8a732b elementor-hidden-desktop elementor-hidden-tablet elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="6b8a732b" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-20be8c18"
						 data-id="20be8c18" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-4f682f4f motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="4f682f4f" data-element_type="widget"
								 data-settings="{&quot;toggle_menu_mobile&quot;:&quot;yes&quot;,&quot;toggle_menu&quot;:&quot;no&quot;,&quot;toggle_status&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Orders & Returns</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-orders-returns"
												class="nav-menu motta-navigation-menu__menu">
												<li id="menu-item-6655"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6655">
													<a href="https://motta.uix.store/tracking-order/"
													   data-title="Track Order">Track Order</a>
												</li>
												<li id="menu-item-6656"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6656">
													<a href="https://motta.uix.store/shipping-delivery/"
													   data-title="Shipping &amp; Delivery">
														Shipping &#038;
														Delivery
													</a>
												</li>
												<li id="menu-item-6657"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6657">
													<a href="https://motta.uix.store/return-exchange/"
													   data-title="Return &amp; Exchange">
														Return &#038;
														Exchange
													</a>
												</li>
												<li id="menu-item-6658"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6658">
													<a href="https://motta.uix.store/price-match-guarantee/"
													   data-title="Price Match Guarantee">
														Price Match
														Guarantee
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-197603e elementor-hidden-desktop elementor-hidden-tablet elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="197603e" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-562c4487 elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="562c4487" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f4c128e"
						 data-id="2f4c128e" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-6aa5e5b elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="6aa5e5b" data-element_type="widget" data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-677a69e elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="677a69e" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4ea16de3"
						 data-id="4ea16de3" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-31360581 motta-navigation-menu--row elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="31360581" data-element_type="widget"
								 data-settings="{&quot;toggle_menu&quot;:&quot;no&quot;,&quot;toggle_status&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">

										<nav class="motta-navigation-menu">
											<ul id="menu-footer-policy"
												class="nav-menu motta-navigation-menu__menu">
												<li id="menu-item-6661"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6661">
													<a href="https://motta.uix.store/legal/privacy-policy/"
													   data-title="Privacy Policy">Privacy Policy</a>
												</li>
												<li id="menu-item-6662"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6662">
													<a href="https://motta.uix.store/legal/terms-of-use/"
													   data-title="Terms of Use">Terms of Use</a>
												</li>
												<li id="menu-item-6663"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6663">
													<a href="https://motta.uix.store/legal/"
													   data-title="Legal">Legal</a>
												</li>
												<li id="menu-item-6664"
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6664">
													<a href="https://motta.uix.store/site-map/"
													   data-title="Site Map">Site Map</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-719a5de5"
						 data-id="719a5de5" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-540aa1d elementor-widget elementor-widget-motta-image-grid"
								 data-id="540aa1d" data-element_type="widget"
								 data-widget_type="motta-image-grid.default">
								<div class="elementor-widget-container">
									<div class="motta-image-grid">
										<div class="motta-image-grid__item elementor-repeater-item-159beeb">
											<img width="294" height="18"
												 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2021/12/payment.jpg?fit=294%2C18&amp;ssl=1"
												 class="attachment-full size-full wp-image-15486" alt=""
												 decoding="async"
												 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2021/12/payment.jpg?w=294&amp;ssl=1 294w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2021/12/payment.jpg?resize=276%2C18&amp;ssl=1 276w"
												 sizes="(max-width: 294px) 100vw, 294px" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-27757560 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="27757560" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7c470ba3"
						 data-id="7c470ba3" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-765b7662 elementor-widget elementor-widget-text-editor"
								 data-id="765b7662" data-element_type="widget"
								 data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Copyright © 2024 Motta, All rights reserved.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5f43c36"
						 data-id="5f43c36" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f778ee1 elementor-widget elementor-widget-motta-preferences"
								 data-id="f778ee1" data-element_type="widget"
								 data-widget_type="motta-preferences.default">
								<div class="elementor-widget-container">
									<div class="motta-preferences motta-preferences--elementor">
										<div class="motta-language motta-preferences__item">
											<a href="#" data-toggle="modal" data-target="preferences-modal"
											   class="motta-button motta-button--text motta-button--color-black">
												<span class="motta-button__icon">
													<span class="motta-svg-icon motta-svg-icon--language">
														<svg width="24" height="24" aria-hidden="true" role="img"
															 focusable="false" viewBox="0 0 32 32">
															<path d="M29.509 13.714c-0.137-0.777-0.32-1.554-0.594-2.286-1.737-4.891-6.149-8.503-11.474-9.074 0 0 0-0.023-0.023-0.023 0 0 0 0 0 0.023-0.457-0.046-0.937-0.069-1.417-0.069s-0.96 0.023-1.417 0.069c0 0 0 0 0-0.023 0 0 0 0.023-0.023 0.023-5.326 0.571-9.737 4.183-11.474 9.074-0.251 0.731-0.457 1.509-0.594 2.286-0.114 0.754-0.206 1.509-0.206 2.286s0.091 1.531 0.206 2.286c0.137 0.777 0.32 1.554 0.594 2.286 1.737 4.891 6.149 8.503 11.474 9.074 0 0 0 0.023 0.023 0.023 0 0 0 0 0-0.023 0.457 0.046 0.937 0.069 1.417 0.069s0.96-0.023 1.417-0.069c0 0 0 0 0 0.023 0 0 0-0.023 0.023-0.023 5.326-0.549 9.737-4.183 11.474-9.074 0.251-0.731 0.457-1.509 0.594-2.286 0.114-0.754 0.206-1.509 0.206-2.286s-0.091-1.531-0.206-2.286zM26.469 11.429h-5.211c-0.434-2.263-1.189-4.411-2.217-6.4 3.314 0.937 6.057 3.291 7.429 6.4zM19.429 16c0 0.777-0.046 1.531-0.114 2.286h-6.629c-0.069-0.754-0.114-1.509-0.114-2.286s0.046-1.531 0.114-2.286h6.606c0.091 0.754 0.137 1.509 0.137 2.286zM16.16 27.406c-0.069 0-0.114 0.023-0.16 0.023s-0.091-0.023-0.16-0.023c-1.28-2.080-2.24-4.366-2.766-6.834h5.874c-0.549 2.469-1.509 4.754-2.789 6.834zM15.84 4.594c0.069 0 0.114-0.023 0.16-0.023s0.091 0.023 0.16 0.023c1.28 2.080 2.24 4.366 2.766 6.834h-5.851c0.526-2.469 1.486-4.754 2.766-6.834zM12.96 5.029c-1.029 1.989-1.783 4.137-2.217 6.4h-5.211c1.371-3.109 4.114-5.463 7.429-6.4zM4.571 16c0-0.777 0.091-1.554 0.229-2.286h5.6c-0.069 0.754-0.114 1.509-0.114 2.286s0.046 1.531 0.114 2.286h-5.6c-0.137-0.731-0.229-1.509-0.229-2.286zM5.531 20.571h5.211c0.434 2.263 1.211 4.411 2.217 6.4-3.314-0.937-6.057-3.291-7.429-6.4zM19.040 26.971c1.029-1.989 1.783-4.137 2.217-6.4h5.189c-1.349 3.109-4.091 5.463-7.406 6.4zM21.6 18.286c0.069-0.754 0.114-1.509 0.114-2.286s-0.046-1.531-0.114-2.286h5.6c0.137 0.731 0.229 1.509 0.229 2.286s-0.091 1.554-0.229 2.286h-5.6z">
															</path>
														</svg>
													</span>
												</span>
												<span class="motta-button__text">
													English
												</span>
											</a>
										</div>
										<div class="motta-currency motta-preferences__item">
											<a href="#" data-toggle="modal" data-target="preferences-modal"
											   class="motta-button motta-button--text motta-button--color-black">
												<span class="motta-button__icon">
													<span class="motta-svg-icon motta-svg-icon--currency">
														<svg width="24" height="24" aria-hidden="true" role="img"
															 focusable="false" viewBox="0 0 32 32">
															<path d="M27.429 6.857h-22.857c-1.257 0-2.286 1.029-2.286 2.286v13.714c0 1.257 1.029 2.286 2.286 2.286h22.857c1.257 0 2.286-1.029 2.286-2.286v-13.714c0-1.257-1.029-2.286-2.286-2.286zM4.571 9.143h3.429c0 1.897-1.531 3.429-3.429 3.429v-3.429zM4.571 22.857v-3.429c1.897 0 3.429 1.531 3.429 3.429h-3.429zM27.429 22.857h-3.429c0-1.897 1.531-3.429 3.429-3.429v3.429zM27.429 17.143c-3.154 0-5.714 2.56-5.714 5.714h-11.429c0-3.154-2.56-5.714-5.714-5.714v-2.286c3.154 0 5.714-2.56 5.714-5.714h11.429c0 3.154 2.56 5.714 5.714 5.714v2.286zM27.429 12.571c-1.897 0-3.429-1.531-3.429-3.429h3.429v3.429z">
															</path>
															<path d="M16 11.429c-2.514 0-4.571 2.057-4.571 4.571s2.057 4.571 4.571 4.571 4.571-2.057 4.571-4.571c0-2.514-2.057-4.571-4.571-4.571zM16 18.286c-1.257 0-2.286-1.029-2.286-2.286s1.029-2.286 2.286-2.286 2.286 1.029 2.286 2.286-1.029 2.286-2.286 2.286z">
															</path>
														</svg>
													</span>
												</span>
												<span class="motta-button__text">
													&#036; - USD
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="footer-mobile">
		<div data-elementor-type="wp-post" data-elementor-id="3841" class="elementor elementor-3841">
			<section class="elementor-section elementor-top-section elementor-element elementor-element-505b7162 elementor-section-content-space-between elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="505b7162" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7fac8374"
						 data-id="7fac8374" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-41720f24 motta-icon-box__icon-position--top elementor-widget elementor-widget-motta-icon-box"
								 data-id="41720f24" data-element_type="widget"
								 data-widget_type="motta-icon-box.default">
								<div class="elementor-widget-container">
									<div class="motta-icon-box icon-type-icon">
										<div class="motta-icon-box__icon">
											<span class="motta-svg-icon">
												<svg xmlns="http://www.w3.org/2000/svg"
													 width="32" height="32" viewBox="0 0 32 32">
													<title>call-footer</title>
													<path d="M26.707 31.36c-0.267 0-0.52-0.013-0.787-0.067-4.253-0.667-8.253-2.213-11.867-4.587-3.507-2.307-6.453-5.253-8.76-8.76-2.373-3.613-3.92-7.613-4.587-11.867-0.227-1.453 0.187-2.92 1.133-4.040 0.933-1.093 2.28-1.707 3.72-1.707h4.467c2.347 0 4.373 1.693 4.813 4.013 0.107 0.533 0.227 1.040 0.387 1.547 0.547 1.813 0.080 3.733-1.187 5.013-1.107 1.107-1.213 2.773-0.293 3.92 1.013 1.267 2.16 2.427 3.427 3.427 1.147 0.92 2.813 0.813 3.867-0.24 1.333-1.333 3.253-1.787 5.067-1.24 0.507 0.147 1.027 0.28 1.547 0.373v0c2.32 0.453 4.013 2.48 4.013 4.827v4.467c0 1.427-0.627 2.787-1.707 3.72-0.907 0.787-2.067 1.2-3.253 1.2zM5.547 2.333c-0.853 0-1.64 0.36-2.2 1.013-0.573 0.667-0.813 1.547-0.68 2.427 0.627 3.973 2.067 7.707 4.28 11.080 2.147 3.28 4.907 6.027 8.187 8.187 3.387 2.213 7.107 3.667 11.080 4.28 0.88 0.147 1.76-0.107 2.427-0.68 0.653-0.56 1.013-1.333 1.013-2.2v-4.467c0-1.387-1-2.587-2.387-2.853-0.573-0.107-1.16-0.253-1.747-0.427-1.107-0.333-2.267-0.067-3.027 0.693-1.827 1.827-4.64 2-6.587 0.44-1.387-1.107-2.64-2.36-3.747-3.747-1.533-1.947-1.373-4.76 0.4-6.533 0.813-0.813 1.080-1.973 0.747-3.080-0.173-0.56-0.32-1.147-0.427-1.747-0.267-1.387-1.467-2.387-2.853-2.387h-4.48z">
													</path>
													<path d="M31.667 12h-2c0-5.333-4.333-9.667-9.667-9.667v-2c6.44 0 11.667 5.24 11.667 11.667z">
													</path>
													<path d="M26.333 12h-2c0-2.387-1.947-4.333-4.333-4.333v-2c3.493 0 6.333 2.84 6.333 6.333z">
													</path>
												</svg>
											</span>
										</div>
										<div class="motta-icon-box__wrapper">
											<h6 class="motta-icon-box__title">Call</h6>
											<div class="motta-icon-box__content">
												Call us from 8am to<br> 12am
												ET.
											</div>
											<a class="motta-button motta-button-primary  motta-button--text  motta-button--color-black  motta-button--medium"
											   href="tel:1-866-237-8289">
												<span class="motta-button__text">1-866-237-8289</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-37743849"
						 data-id="37743849" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-7bb42a3f motta-icon-box__icon-position--top elementor-widget elementor-widget-motta-icon-box"
								 data-id="7bb42a3f" data-element_type="widget"
								 data-widget_type="motta-icon-box.default">
								<div class="elementor-widget-container">
									<div class="motta-icon-box icon-type-icon">
										<div class="motta-icon-box__icon">
											<span class="motta-svg-icon">
												<svg xmlns="http://www.w3.org/2000/svg"
													 width="32" height="32" viewBox="0 0 32 32">
													<title>email-footer</title>
													<path d="M29.453 11.96l-12-9.6c-0.853-0.68-2.053-0.68-2.92 0l-12 9.6c-0.56 0.44-0.88 1.107-0.88 1.827v14.027c0 1.28 1.053 2.333 2.333 2.333h24c1.28 0 2.333-1.053 2.333-2.333v-14.027c0.013-0.707-0.307-1.373-0.867-1.827zM15.787 3.933c0.067-0.053 0.133-0.080 0.213-0.080s0.147 0.027 0.213 0.067l11.533 9.227-11.427 7.107c-0.16 0.107-0.453 0.107-0.613 0l-11.44-7.107 11.52-9.213zM28 28.147h-24c-0.187 0-0.333-0.147-0.333-0.333v-12.68l10.973 6.827c0.413 0.253 0.88 0.373 1.36 0.373s0.96-0.12 1.36-0.373l10.973-6.827v12.68c0 0.187-0.147 0.333-0.333 0.333z">
													</path>
												</svg>
											</span>
										</div>
										<div class="motta-icon-box__wrapper">
											<h6 class="motta-icon-box__title">Email</h6>
											<div class="motta-icon-box__content">
												Our response time is<br> 1 to 3
												business days.
											</div>
											<a class="motta-button motta-button-primary  motta-button--text  motta-button--color-black  motta-button--medium"
											   href="https://motta.uix.store/cdn-cgi/l/email-protection#ff92908b8b9ebf8a9687d18c8b908d9ad19c9092">
												<span class="motta-button__text">Send a Message</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-64224786 elementor-section-content-space-between elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="64224786" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-172a27c6"
						 data-id="172a27c6" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-7460f1e9 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="7460f1e9" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-36c8409c elementor-widget elementor-widget-motta-heading"
								 data-id="36c8409c" data-element_type="widget"
								 data-widget_type="motta-heading.default">
								<div class="elementor-widget-container">
									<div class="motta-heading-elementor motta-heading__button-on">
										<h4 class="motta-heading motta-heading--large">
											Let’s keep in touch
										</h4>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-626773a1 elementor-widget elementor-widget-text-editor"
								 data-id="626773a1" data-element_type="widget"
								 data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									Get recommendations, tips, updates,<br /> promotions and more.
								</div>
							</div>
							<div class="elementor-element elementor-element-2bb9f55e motta-subscribe-box-mobile-position--inside motta-skin--raised motta-subscribe-box-form-items--row motta-shape--default motta-subscribe-box-position--outside elementor-widget elementor-widget-motta-subscribe-box"
								 data-id="2bb9f55e" data-element_type="widget"
								 data-widget_type="motta-subscribe-box.default">
								<div class="elementor-widget-container">
									<div class="motta-subscribe-box motta-custom-button--skin">
										<div class="motta-subscribe-box__content">
											<script data-cfasync="false"
													src="https://motta.uix.store/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
											<script>
												(function () {
													window.mc4wp = window.mc4wp || {
														listeners: [],
														forms: {
															on: function (evt, cb) {
																window.mc4wp.listeners.push(
																	{
																		event: evt,
																		callback: cb
																	}
																);
															}
														}
													}
												})();
											</script><!-- Mailchimp for WordPress v4.9.13 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
											<form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-192"
												  method="post" data-id="192" data-name="Newsletter">
												<div class="mc4wp-form-fields">
													<input type="email" name="EMAIL"
														   placeholder="Enter your email adress" required="">
													<input type="submit" value="Subscribe">

												</div><label style="display: none !important;">
													Leave this field
													empty if you're human: <input type="text"
																				  name="_mc4wp_honeypot" value="" tabindex="-1"
																				  autocomplete="off" />
												</label><input type="hidden"
															   name="_mc4wp_timestamp" value="1730255004" /><input type="hidden" name="_mc4wp_form_id" value="192" /><input type="hidden" name="_mc4wp_form_element_id"
																																							 value="mc4wp-form-2" />
												<div class="mc4wp-response"></div>
											</form><!-- / Mailchimp for WordPress Plugin -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-3d4626cb elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="3d4626cb" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e4be6f6"
						 data-id="2e4be6f6" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-56d6afd9 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="56d6afd9" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-7bf3f063 motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="7bf3f063" data-element_type="widget"
								 data-settings="{&quot;toggle_menu&quot;:&quot;yes&quot;,&quot;toggle_menu_mobile&quot;:&quot;yes&quot;,&quot;toggle_status_mobile&quot;:&quot;yes&quot;,&quot;toggle_status&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Get to Know Us</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-know-us-1"
												class="nav-menu motta-navigation-menu__menu">
												<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6792">
													<a href="https://motta.uix.store/about-us-v1/"
													   data-title="About Us">About Us</a>
												</li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6793">
													<a href="https://motta.uix.store/blog/"
													   data-title="News &amp; Blog">News &#038; Blog</a>
												</li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6794">
													<a href="https://motta.uix.store/careers/"
													   data-title="Careers">Careers</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6660">
													<a href="https://motta.uix.store/investors/"
													   data-title="Investors">Investors</a>
												</li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6795">
													<a href="https://motta.uix.store/contact-us-v1/"
													   data-title="Contact Us">Contact Us</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-80c9e55 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="80c9e55" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4b033eaf"
						 data-id="4b033eaf" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-43403448 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="43403448" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-7f8caaf0 motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="7f8caaf0" data-element_type="widget"
								 data-settings="{&quot;toggle_menu_mobile&quot;:&quot;yes&quot;,&quot;toggle_menu&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Customer Service</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-service-1"
												class="nav-menu motta-navigation-menu__menu">
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6649">
													<a href="https://motta.uix.store/help-center/"
													   data-title="Help Center">Help Center</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6650">
													<a href="https://motta.uix.store/faq-v1/"
													   data-title="FAQ’s">FAQ’s</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6651">
													<a href="https://motta.uix.store/legal/accessibility/"
													   data-title="Accessibility">Accessibility</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6652">
													<a href="https://motta.uix.store/feedback/"
													   data-title="Feedback">Feedback</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6653">
													<a href="https://motta.uix.store/size-guide/"
													   data-title="Size Guide">Size Guide</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6654">
													<a href="https://motta.uix.store/payment-method/"
													   data-title="Payment Method">Payment Method</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-3ef42958 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="3ef42958" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5d8ec262"
						 data-id="5d8ec262" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-5c143e1e elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="5c143e1e" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-672b937b motta-navigation-menu--column elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="672b937b" data-element_type="widget"
								 data-settings="{&quot;toggle_menu_mobile&quot;:&quot;yes&quot;,&quot;toggle_menu&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">
										<div class="motta-navigation-menu__title">Orders & Returns</div>
										<nav class="motta-navigation-menu">
											<ul id="menu-footer-orders-returns-1"
												class="nav-menu motta-navigation-menu__menu">
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6655">
													<a href="https://motta.uix.store/tracking-order/"
													   data-title="Track Order">Track Order</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6656">
													<a href="https://motta.uix.store/shipping-delivery/"
													   data-title="Shipping &amp; Delivery">
														Shipping &#038;
														Delivery
													</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6657">
													<a href="https://motta.uix.store/return-exchange/"
													   data-title="Return &amp; Exchange">
														Return &#038;
														Exchange
													</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6658">
													<a href="https://motta.uix.store/price-match-guarantee/"
													   data-title="Price Match Guarantee">
														Price Match
														Guarantee
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-682ff194 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="682ff194" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1bd38d6d"
						 data-id="1bd38d6d" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-5e067f3c elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="5e067f3c" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-6e2608c1 elementor-widget elementor-widget-motta-social-icons"
								 data-id="6e2608c1" data-element_type="widget"
								 data-widget_type="motta-social-icons.default">
								<div class="elementor-widget-container">
									<div class="motta-social-icons__wrapper">
										<a class="motta-social-icons__item motta-social-icon-twitter motta-repeater-item-48272a2"
										   href="https://twitter.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-twitter" viewBox="0 0 512 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-facebook-square motta-repeater-item-4c9cfd4"
										   href="https://www.facebook.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-facebook-square"
													 viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-youtube motta-repeater-item-c175218"
										   href="https://www.youtube.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-instagram motta-repeater-item-cfb8721"
										   href="https://www.instagram.com/motta.uix.store/" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-instagram"
													 viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
													<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
													</path>
												</svg>
											</span>
										</a>
										<a class="motta-social-icons__item motta-social-icon-whatsapp motta-repeater-item-65b6e37"
										   href="https://www.whatsapp.com/motta.uix.store" target="_blank">
											<span class="motta-svg-icon">
												<svg class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512"
													 xmlns="http://www.w3.org/2000/svg">
													<path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z">
													</path>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-4c8f9c25 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="4c8f9c25" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-2f13a8bc elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="2f13a8bc" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-33dc76e3"
						 data-id="33dc76e3" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-52d9e083 elementor-widget elementor-widget-html"
								 data-id="52d9e083" data-element_type="widget" data-widget_type="html.default">
								<div class="elementor-widget-container">
									<img class="alignnone size-full wp-image-3054"
										 src="https://motta.uix.store/wp-content/uploads/2022/10/Logo-v1.png"
										 alt="" width="114" height="32" />
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-61f1277e"
						 data-id="61f1277e" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-3b43fcc elementor-widget elementor-widget-motta-preferences"
								 data-id="3b43fcc" data-element_type="widget"
								 data-widget_type="motta-preferences.default">
								<div class="elementor-widget-container">
									<div class="motta-preferences motta-preferences--elementor">
										<div class="motta-language motta-preferences__item">
											<a href="#" data-toggle="modal" data-target="preferences-modal"
											   class="motta-button motta-button--text motta-button--color-black">
												<span class="motta-button__icon">
													<img src="https://motta.uix.store/wp-content/themes/motta-child/images/flags/en.svg"
														 width="16" height="16" alt="English" />
												</span>
												<span class="motta-button__text">
													English
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-428b4a14 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="428b4a14" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-352a9635"
						 data-id="352a9635" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-5c04520f elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								 data-id="5c04520f" data-element_type="widget"
								 data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator">
										</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-3475a6d motta-navigation-menu--row elementor-widget elementor-widget-motta-navigation-menu"
								 data-id="3475a6d" data-element_type="widget"
								 data-settings="{&quot;toggle_menu&quot;:&quot;no&quot;,&quot;toggle_status&quot;:&quot;yes&quot;}"
								 data-widget_type="motta-navigation-menu.default">
								<div class="elementor-widget-container">
									<div class="motta-navigation-menu-element motta-navigation-menu__container--group">

										<nav class="motta-navigation-menu">
											<ul id="menu-footer-policy-1"
												class="nav-menu motta-navigation-menu__menu">
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6661">
													<a href="https://motta.uix.store/legal/privacy-policy/"
													   data-title="Privacy Policy">Privacy Policy</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6662">
													<a href="https://motta.uix.store/legal/terms-of-use/"
													   data-title="Terms of Use">Terms of Use</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6663">
													<a href="https://motta.uix.store/legal/"
													   data-title="Legal">Legal</a>
												</li>
												<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6664">
													<a href="https://motta.uix.store/site-map/"
													   data-title="Site Map">Site Map</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-79a049c3 elementor-section-boxed elementor-section-height-default elementor-section-height-default motta-responsive-column motta-tablet-column--default motta-responsive-column motta-mobile-column--default"
					 data-id="79a049c3" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6f153ecc"
						 data-id="6f153ecc" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-7987522b elementor-widget elementor-widget-text-editor"
								 data-id="7987522b" data-element_type="widget"
								 data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>Copyright © 2024 Motta, All rights reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>
<a href="#page" id="gotop">
	<span class="motta-svg-icon motta-svg-icon--pr-arrow">
		<svg width="24" height="24"
			 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
			<path d="M20.112 5.488l-1.824 1.824 7.424 7.408h-22.512v2.56h22.512l-7.424 7.408 1.824 1.824 10.496-10.512z">
			</path>
		</svg>
	</span>
</a>