<div id="site-header-minimized"></div>
<header id="site-header" class="site-header">
	<div class="site-header__desktop site-header__section  motta-header-sticky header-sticky--normal header-v1">
		<div class="header-main header-contents no-center has-search-item">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
						<h1 class="site-title"><a asp-area="Customer" asp-controller="Home" asp-action="Index" rel="home">Motta</a></h1>
						<p class="site-description">Just another WordPress site</p>
					</div>
				</div>


				<div class="header-right-items header-items has-search">

					<div class="header-search header-search--form header-search--large motta-skin--raised header-search--outside"
						 data-width=655 style=&quot;max-width:655px&quot;>
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
								<div class="header-search__divider"></div>
								<div class="header-search__categories-label">
									<span class="header-search__categories-text">All Categories</span><span class="motta-svg-icon motta-svg-icon--select-arrow">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M16 30.112l-15.072-15.040 4.544-4.544 10.528 10.56 10.528-10.56 4.544 4.544z">
											</path>
										</svg>
									</span>
								</div>
								<input class="category-name" type="hidden" name="product_cat" value="0">

								<div class="header-search__trending header-search__trending--outside">
									<div class="header-search__trending-label">Trending Searches</div>

									<ul class="header-search__trending-links">
										<li>
											<a href="https://motta.uix.store/product/11-inch-tablet-pro-2020-space-gray/">
												11-inch
												Tablet Pro 2020 Space Gray
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/af-1-shadow-womens-sneaker-cream-color/">
												AF
												1 Shadow Women’s Sneaker (Cream Color)
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/game-controller-console-usb-wired-connection-gamepad/">
												Game
												Controller Console USB Wired connection Gamepad
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/4-in-1-convertible-car-seat/">
												4-in-1
												Convertible Car Seat
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/dekora-wire-chair-checker-se-18/">
												Dekora
												Wire Chair Checker SE 18
											</a>
										</li>
									</ul>
								</div>

								<div class="header-search__categories">
									<div class="header-search__categories-title">
										<span>
											Select
											Categories
										</span><span class="motta-svg-icon motta-svg-icon--close header-search__categories-close">
											<svg width="24" height="24" aria-hidden="true" role="img"
												 focusable="false" viewBox="0 0 32 32">
												<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
												</path>
											</svg>
										</span>
									</div>
									<ul class="header-search__categories-container"
										style="--mt-header-search-cats-rows: 6">
										<li>
											<a href="https://motta.uix.store/product-category/smart-appliances/"
											   data-slug="smart-appliances">Smart Appliances</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/smart-tv/"
											   data-slug="smart-tv">Smart TV</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/air-prifiers/"
											   data-slug="air-prifiers">Air Prifiers</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/automobiles-motorcycles/"
											   data-slug="automobiles-motorcycles">
												Automobiles &amp;
												Motorcycles
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/beauty-health/"
											   data-slug="beauty-health">Beauty &amp; Health</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/collectibles-art/"
											   data-slug="collectibles-art">Collectibles &amp; Art</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/electronics/"
											   data-slug="electronics">Electronics</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/fashion/"
											   data-slug="fashion">Fashion</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/footwear/"
											   data-slug="footwear">Footwear</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/homegarden/"
											   data-slug="homegarden">Home &amp; Garden</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/jewelry/"
											   data-slug="jewelry">Jewelry &amp; Accessories</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/kitchen-dining-2/"
											   data-slug="kitchen-dining-2">Kitchen &amp; Dining</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/motherkids/"
											   data-slug="motherkids">Mother &amp; Kids</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/sports/"
											   data-slug="sports">Sports &amp; Entertainment</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/tools-home-improvement/"
											   data-slug="tools-home-improvement">
												Tools &amp; Home
												Improvement
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/toysgames/"
											   data-slug="toysgames">Toys &amp; Games</a>
										</li>
										<li><a href="#" class="active" data-slug="0">All Categories</a></li>
									</ul>
								</div>

								<span class="motta-svg-icon motta-svg-icon--close close-search-results">
									<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
										</path>
									</svg>
								</span>
								<div class="header-search__results search-results woocommerce">
									<div id="add_search1"> </div>
								</div>
							</div>


							<button class="header-search__button motta-button  motta-button--icon motta-button--raised"
									type="submit" aria-label="">
								<span class="motta-button__icon">
									<span class="motta-svg-icon motta-svg-icon--search">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
											</path>
										</svg>
									</span>
								</span>
							</button>
							<input type="hidden" name="post_type" class="header-search__post-type"
								   value="product">
						</form>
					</div>
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">
								<span class="motta-button__text--account">Account</span>
							</span>
						</a>
					</div>
					<div class="header-cart" onclick="cart()">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel" class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="header-bottom header-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items has-menu">
					<div class="header-category-menu header-category--both header-category--show ">
						<div class="header-category__title motta-button--ghost">
							<span class="motta-svg-icon motta-svg-icon--categories header-category__icon">
								<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
									 viewBox="0 0 32 32">
									<path d="M7.2 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M7.2 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M7.2 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
								</svg>
							</span><span class="motta-svg-icon motta-svg-icon--select-arrow header-category__arrow">
								<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
									 viewBox="0 0 32 32">
									<path d="M16 30.112l-15.072-15.040 4.544-4.544 10.528 10.56 10.528-10.56 4.544 4.544z">
									</path>
								</svg>
							</span><span class="header-category__name">Shop by Category</span>
						</div>
						<div class="header-category__content">
							<nav class="header-category__menu">
								<ul id="menu-category-menu" class="menu">
									@await Component.InvokeAsync("CategoryItem")
								</ul>
							</nav>

						</div>
					</div>

					@* Navigation *@
					<nav class="main-navigation primary-navigation">
						<ul id="menu-primary-menu" class="nav-menu menu">
							<li id="menu-item-6593"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6593 menu-item-mega menu-item-has-children">
								<a href="#" data-title="Home">Home</a>
								<ul class="sub-menu mega-menu mega-menu--tabs mega-menu--behavior-hover">

									<li class="mega-menu-container container-custom" style="width: 857px">

										<ul class='mega-menu__tablist' role='tablist'>
											<li id="menu-item-19253"
												class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-19253 menu-item--tab active"
												role="tab" data-tab="19253" aria-selected="true">
												<a href="https://motta.uix.store/"
												   data-title="Home v1 - Marketplace">
													Home v1 &#8211;
													Marketplace
												</a>
											</li>
											<li id="menu-item-19254"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19254 menu-item--tab"
												role="tab" data-tab="19254" aria-selected="false">
												<a href="https://motta.uix.store/home-v2/"
												   data-title="Home v2 - Retail">Home v2 &#8211; Retail</a>
											</li>
											<li id="menu-item-19255"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19255 menu-item--tab"
												role="tab" data-tab="19255" aria-selected="false">
												<a href="https://motta.uix.store/home-v3/"
												   data-title="Home v3 - Mega Market">
													Home v3 &#8211; Mega
													Market
												</a>
											</li>
											<li id="menu-item-19256"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19256 menu-item--tab"
												role="tab" data-tab="19256" aria-selected="false">
												<a href="https://motta.uix.store/home-v4/"
												   data-title="Home v4 - Multi vendor">
													Home v4 &#8211; Multi
													vendor
												</a>
											</li>
											<li id="menu-item-19257"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19257 menu-item--tab"
												role="tab" data-tab="19257" aria-selected="false">
												<a href="https://motta.uix.store/home-v5/"
												   data-title="Home v5 - Supper Market">
													Home v5 &#8211; Supper
													Market
												</a>
											</li>
											<li id="menu-item-19258"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19258 menu-item--tab"
												role="tab" data-tab="19258" aria-selected="false">
												<a href="https://motta.uix.store/electronic/"
												   data-title="Home v6 - Electronics">
													Home v6 &#8211;
													Electronics
												</a>
											</li>
											<li id="menu-item-19259"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19259 menu-item--tab"
												role="tab" data-tab="19259" aria-selected="false">
												<a href="https://motta.uix.store/electronic/home-v7/"
												   data-title="Home v7 - Electronics">
													Home v7 &#8211;
													Electronics
												</a>
											</li>
											<li id="menu-item-19260"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19260 menu-item--tab"
												role="tab" data-tab="19260" aria-selected="false">
												<a href="https://motta.uix.store/electronic/home-v8/"
												   data-title="Home v8 - Electronics">
													Home v8 &#8211;
													Electronics
												</a>
											</li>
											<li id="menu-item-19261"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19261 menu-item--tab"
												role="tab" data-tab="19261" aria-selected="false">
												<a href="https://motta.uix.store/electronic/home-v9/"
												   data-title="Home v9 - Electronics">
													Home v9 &#8211;
													Electronics
												</a>
											</li>
											<li id="menu-item-19262"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19262 menu-item--tab"
												role="tab" data-tab="19262" aria-selected="false">
												<a href="https://motta.uix.store/electronic/home-v10/"
												   data-title="Home v10 - Electronics">
													Home v10 &#8211;
													Electronics
												</a>
											</li>
										</ul>
										<div class="mega-menu__panellist">
											<div class="mega-menu__tabpanel active" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19253" data-tabpanel="19253">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19263 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/">
																<img fetchpriority="high" width="332"
																	 height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev1.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev1.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev1.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19254" data-tabpanel="19254">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19274 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/home-v2/">
																<img width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev2.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev2.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev2.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19255" data-tabpanel="19255">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19276 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/home-v3">
																<img width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev3.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev3.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev3.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19256" data-tabpanel="19256">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19277 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/home-v4">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev4.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev4.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev4.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19257" data-tabpanel="19257">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19278 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/home-v5">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev5.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev5.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev5.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19258" data-tabpanel="19258">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19279 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/electronic/">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev6.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev6.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev6.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19259" data-tabpanel="19259">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19280 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/electronic/home-v7/">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev7.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev7.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev7.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19260" data-tabpanel="19260">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19281 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/electronic/home-v8">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev8.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev8.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev8.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19261" data-tabpanel="19261">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19282 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/electronic/home-v9">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev9.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev9.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev9.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="mega-menu__tabpanel" role="tabpanel" tabindex="0"
												 aria-labelledby="menu-item-19262" data-tabpanel="19262">
												<div class="mega-menu__row">
													<ul class="mega-menu__column" style="flex:1;">
														<li class="menu-item menu-item-19283 menu-item--widget menu-item--widget-image menu-item--align-right">
															<a href="https://motta.uix.store/electronic/home-v10">
																<img loading="lazy" width="332" height="307"
																	 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev10.jpg?fit=332%2C307&amp;ssl=1"
																	 class="attachment-full size-full" alt=""
																	 decoding="async"
																	 srcset="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev10.jpg?w=332&amp;ssl=1 332w, https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-homev10.jpg?resize=300%2C277&amp;ssl=1 300w"
																	 sizes="(max-width: 332px) 100vw, 332px" />
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li id="menu-item-6825"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6825 menu-item-mega menu-item-static menu-item-has-children">
								<ul class="sub-menu mega-menu mega-menu--grid">
									<li class="mega-menu-container container full-width">
										<div class="mega-menu__row">
											<ul class="mega-menu__column" style="width:20.00%;">
												<li class="menu-item menu-item-17317 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Shop Pages</h6>
												</li>
												<li class="menu-item menu-item-15158">
													<a href="https://motta.uix.store/shop">Shop v1</a>
												</li>
												<li class="menu-item menu-item-15159">
													<a href="https://motta.uix.store/product-category/homegarden/?shop_layout=v2">
														Shop
														v2
													</a>
												</li>
												<li class="menu-item menu-item-15160">
													<a href="https://motta.uix.store/product-category/electronics/?shop_layout=v3">
														Shop
														v3
													</a>
												</li>
												<li class="menu-item menu-item-15161">
													<a href="https://motta.uix.store/product-category/homegarden/?shop_layout=v4&amp;shop_columns=5">
														Shop
														v4
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="width:20.00%;">
												<li class="menu-item menu-item-17318 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Product Pages</h6>
												</li>
												<li class="menu-item menu-item-15162">
													<a href="https://motta.uix.store/product/ipad-10-2-inch-wi-fi-cellular-128gb/">
														Product
														Page v1
													</a>
												</li>
												<li class="menu-item menu-item-15163">
													<a href="https://motta.uix.store/product/cordless-7-speed-hand-mixer-charco-al-gray/?product_layout=2">
														Product
														Page v2
													</a>
												</li>
												<li class="menu-item menu-item-15164">
													<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen?product_layout=3">
														Product
														Page v3
													</a>
												</li>
												<li class="menu-item menu-item-15165">
													<a href="https://motta.uix.store/product/new-macbook-pro-13-3-with-retina-display-space-gray?product_layout=4">
														Product
														Page v4
													</a>
												</li>
												<li class="menu-item menu-item-15166">
													<a href="https://motta.uix.store/product/apple-iphone-11-pro-max-space-gray-256-gb/?product_layout=5&amp;product_description=1">
														Product
														Page v5
													</a>
												</li>
												<li class="menu-item menu-item-15167">
													<a href="https://motta.uix.store/product/galaxy-s20-5g-uw-128gb-cosmic-gray/?product_layout=6">
														Product
														Page v6
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="width:20.00%;">
												<li class="menu-item menu-item-17320 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Product Types</h6>
												</li>
												<li class="menu-item menu-item-15169">
													<a href="https://motta.uix.store/product/apple-iphone-11-64gb/">
														Product
														Simple
													</a>
												</li>
												<li class="menu-item menu-item-15170">
													<a href="https://motta.uix.store/product/camille-anthracite-italian-dining-chair/">
														Product
														On Sale
													</a>
												</li>
												<li class="menu-item menu-item-15171">
													<a href="https://motta.uix.store/product/clic-marquetry-leather-case-for-iphone-11-pro/?product_sale_type=countdown">
														Product
														Countdown
													</a>
												</li>
												<li class="menu-item menu-item-15172">
													<a href="https://motta.uix.store/product/the-about-a-chair-ac-45-frame-in-oak-wood/">
														Product
														Out of Stock
													</a>
												</li>
												<li class="menu-item menu-item-15173">
													<a href="https://motta.uix.store/product/galaxy-13-3-book-s-256gb-mercury-gray-wi-fi/">
														Product
														Variable
													</a>
												</li>
												<li class="menu-item menu-item-15174">
													<a href="https://motta.uix.store/product/cashmere-classic-polo-shirt/">
														Product
														Image Swatches
													</a>
												</li>
												<li class="menu-item menu-item-15175">
													<a href="https://motta.uix.store/product/x509jb-ej018-intel-core-i5-1035g1-4gb-256gb-ssd-mx110/">
														Product
														Color Swatches
													</a>
												</li>
												<li class="menu-item menu-item-19221">
													<a href="https://motta.uix.store/product/apple-iphone-11-64gb/">
														Variation
														Images Gallery
													</a>
												</li>
												<li class="menu-item menu-item-15176">
													<a href="https://motta.uix.store/product/11-inch-tablet-pro-2020-space-gray/">
														Product
														Video Featured
													</a>
												</li>
												<li class="menu-item menu-item-15177">
													<a href="https://motta.uix.store/product/4-door-french-door-refrigerator-with-21-5-touch-screen/">
														Product
														360
													</a>
												</li>
												<li class="menu-item menu-item-15178">
													<a href="https://motta.uix.store/product/adilette-slides-originals/">
														Product
														Affiliate
													</a>
												</li>
												<li class="menu-item menu-item-15179">
													<a href="https://motta.uix.store/product/grip-boost-tour-hyper-touch-mens-golf-glove-2-0/">
														Product
														Group
													</a>
												</li>
												<li class="menu-item menu-item-19245">
													<a href="https://motta.uix.store/product/cashmere-classic-polo-shirt/">
														Product
														Size Guide
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="width:20.00%;">
												<li class="menu-item menu-item-17319 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Product Cards</h6>
												</li>
												<li class="menu-item menu-item-15180">
													<a href="https://motta.uix.store/product-card">
														Product Card
														v1
													</a>
												</li>
												<li class="menu-item menu-item-15181">
													<a href="https://motta.uix.store/product-card/?product_card_layout=2">
														Product
														Card v2
													</a>
												</li>
												<li class="menu-item menu-item-15182">
													<a href="https://motta.uix.store/product-card/?product_card_layout=3">
														Product
														Card v3
													</a>
												</li>
												<li class="menu-item menu-item-15183">
													<a href="https://motta.uix.store/product-card/?product_card_layout=4">
														Product
														Card v4
													</a>
												</li>
												<li class="menu-item menu-item-15184">
													<a href="https://motta.uix.store/product-card/?product_card_layout=5">
														Product
														Card v5
													</a>
												</li>
												<li class="menu-item menu-item-19822 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Product Card Hover</h6>
												</li>
												<li class="menu-item menu-item-19818">
													<a href="https://motta.uix.store/product-hover-style/?product_card_hover=standard">
														Product
														Hover – Standard
													</a>
												</li>
												<li class="menu-item menu-item-19819">
													<a href="https://motta.uix.store/product-hover-style/?product_card_hover=zoom">
														Product
														Hover – Zoom
													</a>
												</li>
												<li class="menu-item menu-item-19820">
													<a href="https://motta.uix.store/product-hover-style/?product_card_hover=slider">
														Product
														Hover – Slider
													</a>
												</li>
												<li class="menu-item menu-item-19821">
													<a href="https://motta.uix.store/product-hover-style/?product_card_hover=fadein">
														Product
														Hover – Fade in
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="width:20.00%;">
												<li class="menu-item menu-item-17321 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Other Shop Pages</h6>
												</li>
												<li class="menu-item menu-item-15185">
													<a asp-action="MyAccount" >My account</a>
												</li>
												<li class="menu-item menu-item-15186">
													<a href="https://motta.uix.store/cart">Cart</a>
												</li>
												<li class="menu-item menu-item-15187">
													<a href="https://motta.uix.store/checkout">Checkout</a>
												</li>
												<li class="menu-item menu-item-15188">
													<a href="https://motta.uix.store/tracking-order/">
														Track
														Order
													</a>
												</li>
												<li class="menu-item menu-item-19860">
													<a href="https://motta.uix.store/become-a-vendor/">
														Become a
														vendor
													</a>
												</li>
												<li class="menu-item menu-item-19142">
													<a href="https://motta.uix.store/store-listing/">
														Store
														List
													</a>
												</li>
												<li class="menu-item menu-item-19143">
													<a href="https://motta.uix.store/store/tehchistore/">
														Vendor
														Page
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul><a href="https://motta.uix.store/shop" data-title="Shop">Shop</a>
							</li>
							<li id="menu-item-6611"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6611 menu-item-mega menu-item-static menu-item-has-children">
								<ul class="sub-menu mega-menu mega-menu--grid">
									<li class="mega-menu-container container full-width">
										<div class="mega-menu__row">
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-18660 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<a href="https://motta.uix.store/header/">
														<h6>Header</h6>
													</a>
												</li>
												<li class="menu-item menu-item-18659">
													<a href="https://motta.uix.store/header/header-v1">
														Header
														v1
													</a>
												</li>
												<li class="menu-item menu-item-18661">
													<a href="https://motta.uix.store/header/header-v2">
														Header
														v2
													</a>
												</li>
												<li class="menu-item menu-item-18662">
													<a href="https://motta.uix.store/header/header-v3">
														Header
														v3
													</a>
												</li>
												<li class="menu-item menu-item-18663">
													<a href="https://motta.uix.store/header/header-v4">
														Header
														v4
													</a>
												</li>
												<li class="menu-item menu-item-18664">
													<a href="https://motta.uix.store/header/header-v5">
														Header
														v5
													</a>
												</li>
												<li class="menu-item menu-item-18665">
													<a href="https://motta.uix.store/header/header-v6">
														Header
														v6
													</a>
												</li>
												<li class="menu-item menu-item-18666">
													<a href="https://motta.uix.store/header/header-v7">
														Header
														v7
													</a>
												</li>
												<li class="menu-item menu-item-18667">
													<a href="https://motta.uix.store/header/header-v8">
														Header
														v8
													</a>
												</li>
												<li class="menu-item menu-item-18668">
													<a href="https://motta.uix.store/header/header-v9">
														Header
														v9
													</a>
												</li>
												<li class="menu-item menu-item-18669">
													<a href="https://motta.uix.store/header/header-v10">
														Header
														v10
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-18670 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<h6>Footer</h6>
												</li>
												<li class="menu-item menu-item-18671">
													<a href="https://motta.uix.store/footer/footer-v1">
														Footer
														v1
													</a>
												</li>
												<li class="menu-item menu-item-18672">
													<a href="https://motta.uix.store/footer/footer-v2">
														Footer
														v2
													</a>
												</li>
												<li class="menu-item menu-item-18673">
													<a href="https://motta.uix.store/footer/footer-v3">
														Footer
														v3
													</a>
												</li>
												<li class="menu-item menu-item-18674">
													<a href="https://motta.uix.store/footer/footer-v4">
														Footer
														v4
													</a>
												</li>
												<li class="menu-item menu-item-18675">
													<a href="https://motta.uix.store/footer/footer-v5">
														Footer
														v5
													</a>
												</li>
												<li class="menu-item menu-item-18676">
													<a href="https://motta.uix.store/footer/footer-v6">
														Footer
														v6
													</a>
												</li>
												<li class="menu-item menu-item-18677">
													<a href="https://motta.uix.store/footer/footer-v7">
														Footer
														v7
													</a>
												</li>
												<li class="menu-item menu-item-18678">
													<a href="https://motta.uix.store/footer/footer-v8">
														Footer
														v8
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-18684 menu-item--widget menu-item--widget-heading menu-item--type-label">
													<a href="https://motta.uix.store/elements/">
														<h6>Elements</h6>
													</a>
												</li>
												<li class="menu-item menu-item-18701">
													<a href="https://motta.uix.store/elements/accordion-element/">Accordion</a>
												</li>
												<li class="menu-item menu-item-18961">
													<a href="https://motta.uix.store/elements/pricing-tables-element/">
														Pricing
														Table
													</a>
												</li>
												<li class="menu-item menu-item-18758">
													<a href="https://motta.uix.store/elements/maps-element/">Maps</a>
												</li>
												<li class="menu-item menu-item-18965">
													<a href="https://motta.uix.store/elements/message-box-element/">
														Message
														Box
													</a>
												</li>
												<li class="menu-item menu-item-18747">
													<a href="https://motta.uix.store/elements/progress-bar-element/">
														Progress
														Bars
													</a>
												</li>
												<li class="menu-item menu-item-19799">
													<a href="https://motta.uix.store/elements/content-box-element/">
														Content
														Box
													</a>
												</li>
												<li class="menu-item menu-item-18801">
													<a href="https://motta.uix.store/elements/buttons-element/">Buttons</a>
												</li>
												<li class="menu-item menu-item-19800">
													<a href="https://motta.uix.store/elements/image-element/">Image</a>
												</li>
												<li class="menu-item menu-item-18794">
													<a href="https://motta.uix.store/elements/vimeo-element/">Video</a>
												</li>
												<li class="menu-item menu-item-19801">
													<a href="https://motta.uix.store/elements/audio-element/">Audio</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-18795 menu-item--widget menu-item--widget-heading menu-item--type-empty">
													<span>Empty</span>
												</li>
												<li class="menu-item menu-item-18844">
													<a href="https://motta.uix.store/elements/countdown-element/">Countdown</a>
												</li>
												<li class="menu-item menu-item-19802">
													<a href="https://motta.uix.store/elements/modal-pop-up-element/">
														Modal
														Pop-up
													</a>
												</li>
												<li class="menu-item menu-item-19803">
													<a href="https://motta.uix.store/elements/pagination-element/">Pagination</a>
												</li>
												<li class="menu-item menu-item-19804">
													<a href="https://motta.uix.store/elements/carousel-element/">Carousel</a>
												</li>
												<li class="menu-item menu-item-19009">
													<a href="https://motta.uix.store/elements/image-carousel-element/">
														Image
														Carousel
													</a>
												</li>
												<li class="menu-item menu-item-19805">
													<a href="https://motta.uix.store/elements/gallery-element/">Gallery</a>
												</li>
												<li class="menu-item menu-item-18813">
													<a href="https://motta.uix.store/elements/tabs-element/">Tabs</a>
												</li>
												<li class="menu-item menu-item-19809">
													<a href="https://motta.uix.store/elements/title-element/">Title</a>
												</li>
												<li class="menu-item menu-item-19810">
													<a href="https://motta.uix.store/elements/text-block-element/">
														Text
														Block
													</a>
												</li>
												<li class="menu-item menu-item-19811">
													<a href="https://motta.uix.store/elements/dropcap-element/">Dropcap</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-19808 menu-item--widget menu-item--widget-heading menu-item--type-empty">
													<span>Empty</span>
												</li>
												<li class="menu-item menu-item-19812">
													<a href="https://motta.uix.store/elements/highlight-element/">Highlight</a>
												</li>
												<li class="menu-item menu-item-19813">
													<a href="https://motta.uix.store/elements/list-element/">List</a>
												</li>
												<li class="menu-item menu-item-18826">
													<a href="https://motta.uix.store/elements/counter-box-element/">Counter</a>
												</li>
												<li class="menu-item menu-item-18838">
													<a href="https://motta.uix.store/elements/banner-element/">Banners</a>
												</li>
												<li class="menu-item menu-item-18962">
													<a href="https://motta.uix.store/elements/parallax-scrolling-element/">
														Parallax
														Scrolling
													</a>
												</li>
												<li class="menu-item menu-item-19051">
													<a href="https://motta.uix.store/elements/social-links-element/">
														Socials
														Icons
													</a>
												</li>
												<li class="menu-item menu-item-19042">
													<a href="https://motta.uix.store/elements/image-before-after-element/">
														Image
														Before After
													</a>
												</li>
												<li class="menu-item menu-item-19015">
													<a href="https://motta.uix.store/elements/instagram-element/">Instagram</a>
												</li>
												<li class="menu-item menu-item-19816">
													<a href="https://motta.uix.store/elements/image-hotspot-element/">
														Image
														Hotspot
													</a>
												</li>
												<li class="menu-item menu-item-19817">
													<a href="https://motta.uix.store/elements/grid-element/">Grid</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-19007 menu-item--widget menu-item--widget-heading menu-item--type-empty">
													<span>Empty</span>
												</li>
												<li class="menu-item menu-item-18974">
													<a href="https://motta.uix.store/elements/blog-element/">
														Blog
														Posts
													</a>
												</li>
												<li class="menu-item menu-item-18785">
													<a href="https://motta.uix.store/elements/team-member-element/">Team</a>
												</li>
												<li class="menu-item menu-item-18807">
													<a href="https://motta.uix.store/elements/testimonials-element/">Testimonials</a>
												</li>
												<li class="menu-item menu-item-19814">
													<a href="https://motta.uix.store/elements/360-degree-element/">
														360
														Degree
													</a>
												</li>
												<li class="menu-item menu-item-19815">
													<a href="https://motta.uix.store/elements/brands-logo-element/">Brands/Logo</a>
												</li>
												<li class="menu-item menu-item-19008">
													<a href="https://motta.uix.store/elements/product-gird-element/">
														Product
														Grid
													</a>
												</li>
												<li class="menu-item menu-item-18963">
													<a href="https://motta.uix.store/elements/product-carousel-element/">
														Products
														Carousel
													</a>
												</li>
												<li class="menu-item menu-item-18765">
													<a href="https://motta.uix.store/elements/product-tabs-element/">
														Product
														Tabs
													</a>
												</li>
												<li class="menu-item menu-item-18971">
													<a href="https://motta.uix.store/elements/product-listing-element/">
														Products
														Listing
													</a>
												</li>
												<li class="menu-item menu-item-18774">
													<a href="https://motta.uix.store/elements/product-categories-element/">
														Product
														Categories
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul><a href="#" data-title="Features">Features</a>
							</li>
							<li id="menu-item-6612"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6612 menu-item-mega menu-item-has-children">
								<ul class="sub-menu mega-menu mega-menu--grid">
									<li class="mega-menu-container container-custom" style="width: 450px">
										<div class="mega-menu__row">
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-19919">
													<a href="https://motta.uix.store/about-us-v1/">
														About Us
														v1
													</a>
												</li>
												<li class="menu-item menu-item-19918">
													<a href="https://motta.uix.store/about-us-v2/">
														About Us
														v2
													</a>
												</li>
												<li class="menu-item menu-item-19920">
													<a href="https://motta.uix.store/contact-us-v1/">
														Contact Us
														v1
													</a>
												</li>
												<li class="menu-item menu-item-19921">
													<a href="https://motta.uix.store/contact-us-v2/">
														Contact Us
														v2
													</a>
												</li>
												<li class="menu-item menu-item-19924">
													<a href="https://motta.uix.store/faq-v1/">FAQ v1</a>
												</li>
												<li class="menu-item menu-item-19930">
													<a href="https://motta.uix.store/faq-v2/">FAQ v2</a>
												</li>
												<li class="menu-item menu-item-19925">
													<a href="https://motta.uix.store/team/">Team</a>
												</li>
												<li class="menu-item menu-item-19927">
													<a href="https://motta.uix.store/careers/">Careers</a>
												</li>
												<li class="menu-item menu-item-19954">
													<a href="https://motta.uix.store/pricing-page/">
														Pricing
														Page
													</a>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-20028">
													<a href="https://motta.uix.store/help-center/">
														Help
														Center
													</a>
												</li>
												<li class="menu-item menu-item-20029">
													<a href="https://motta.uix.store/help-article/getting-receipt-copies/">
														Help
														Article
													</a>
												</li>
												<li class="menu-item menu-item-19961">
													<a href="https://motta.uix.store/store-locator/">
														Store
														Locator
													</a>
												</li>
												<li class="menu-item menu-item-19926">
													<a href="https://motta.uix.store/our-location/">
														Our
														Location
													</a>
												</li>
												<li class="menu-item menu-item-19923">
													<a href="https://motta.uix.store/coming-soon-v1/">
														Coming
														Soon v1
													</a>
												</li>
												<li class="menu-item menu-item-19922">
													<a href="https://motta.uix.store/coming-soon-v2/">
														Coming
														Soon v2
													</a>
												</li>
												<li class="menu-item menu-item-19929">
													<a href="https://motta.uix.store/nothing">404 Page v1</a>
												</li>
												<li class="menu-item menu-item-19928">
													<a href="https://motta.uix.store/nothing?page_404_layout=2&amp;footer_page_404_version=8833">
														404
														Page v2
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul><a href="#" data-title="Pages">Pages</a>
							</li>
							<li id="menu-item-6741"
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6741 menu-item-mega menu-item-static menu-item-has-children">
								<ul class="sub-menu mega-menu mega-menu--grid">
									<li class="mega-menu-container container full-width">
										<div class="mega-menu__row">
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-15201 menu-item--widget menu-item--widget-image">
													<a href="https://motta.uix.store/blog/">
														<img loading="lazy"
															 width="208" height="117"
															 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-blog-v1.jpg?fit=208%2C117&amp;ssl=1"
															 class="attachment-full size-full" alt=""
															 decoding="async" />
													</a>
													<div class="menu-widget-image__content">
														<a href="https://motta.uix.store/blog/"
														   class=" menu-widget-image__button">Blog Home v1</a>
													</div>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-15207 menu-item--widget menu-item--widget-image">
													<a href="https://motta.uix.store/blog/?blog_layout=v2">
														<img loading="lazy" width="208" height="117"
															 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-blog-v2.jpg?fit=208%2C117&amp;ssl=1"
															 class="attachment-full size-full" alt=""
															 decoding="async" />
													</a>
													<div class="menu-widget-image__content">
														<a href="https://motta.uix.store/blog/?blog_layout=v2"
														   class=" menu-widget-image__button">Blog Home v2</a>
													</div>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-15208 menu-item--widget menu-item--widget-image">
													<a href="https://motta.uix.store/blog/?blog_layout=v3">
														<img loading="lazy" width="208" height="117"
															 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2022/09/mega-menu-blog-v3.jpg?fit=208%2C117&amp;ssl=1"
															 class="attachment-full size-full" alt=""
															 decoding="async" />
													</a>
													<div class="menu-widget-image__content">
														<a href="https://motta.uix.store/blog/?blog_layout=v3"
														   class=" menu-widget-image__button">Blog Home v3</a>
													</div>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-15209 menu-item--widget menu-item--widget-image">
													<a href="https://motta.uix.store/blog/how-to-master-mobile-photo-editing-for-your-dslr-photos/">
														<img loading="lazy" width="208" height="117"
															 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-single-full-width.jpg?fit=208%2C117&amp;ssl=1"
															 class="attachment-full size-full" alt=""
															 decoding="async" />
													</a>
													<div class="menu-widget-image__content">
														<a href="https://motta.uix.store/blog/how-to-master-mobile-photo-editing-for-your-dslr-photos/"
														   class=" menu-widget-image__button">
															Single (Full
															Width)
														</a>
													</div>
												</li>
											</ul>
											<ul class="mega-menu__column" style="flex:1;">
												<li class="menu-item menu-item-15210 menu-item--widget menu-item--widget-image">
													<a href="https://motta.uix.store/blog/conscious-exclusive-ss22-a-journey-towards-circularity/?post_layout=content-sidebar">
														<img loading="lazy" width="208" height="117"
															 src="https://i0.wp.com/motta.uix.store/wp-content/uploads/2023/03/mega-menu-single-sidebar.jpg?fit=208%2C117&amp;ssl=1"
															 class="attachment-full size-full" alt=""
															 decoding="async" />
													</a>
													<div class="menu-widget-image__content">
														<a href="https://motta.uix.store/blog/conscious-exclusive-ss22-a-journey-towards-circularity/?post_layout=content-sidebar"
														   class=" menu-widget-image__button">
															Single
															(Sidebar)
														</a>
													</div>
												</li>
											</ul>
										</div>
									</li>
								</ul><a href="https://motta.uix.store/blog/" data-title="Blog">Blog</a>
							</li>
						</ul>
					</nav>
				</div>


				<div class="header-right-items header-items ">

					<div id="header-custom-text" class="header-custom-text">
						<a href="https://motta.uix.store/flash-deals/">Shop Today’s Deals</a>
					</div>
				</div>

			</div>
		</div>
		<div class="header-sticky header-contents no-center has-search-item">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items has-search">

					<div class="header-search header-search--form header-search--large motta-skin--raised header-search--outside"
						 data-width=655 style=&quot;max-width:655px&quot;>
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
								<div class="header-search__divider"></div>
								<div class="header-search__categories-label">
									<span class="header-search__categories-text">All Categories</span><span class="motta-svg-icon motta-svg-icon--select-arrow">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M16 30.112l-15.072-15.040 4.544-4.544 10.528 10.56 10.528-10.56 4.544 4.544z">
											</path>
										</svg>
									</span>
								</div>
								<input class="category-name" type="hidden" name="product_cat" value="0">

								<div class="header-search__trending header-search__trending--outside">
									<div class="header-search__trending-label">Trending Searches</div>

									<ul class="header-search__trending-links">
										<li>
											<a href="https://motta.uix.store/product/11-inch-tablet-pro-2020-space-gray/">
												11-inch
												Tablet Pro 2020 Space Gray
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/af-1-shadow-womens-sneaker-cream-color/">
												AF
												1 Shadow Women’s Sneaker (Cream Color)
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/game-controller-console-usb-wired-connection-gamepad/">
												Game
												Controller Console USB Wired connection Gamepad
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/4-in-1-convertible-car-seat/">
												4-in-1
												Convertible Car Seat
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/dekora-wire-chair-checker-se-18/">
												Dekora
												Wire Chair Checker SE 18
											</a>
										</li>
									</ul>
								</div>

								<div class="header-search__categories">
									<div class="header-search__categories-title">
										<span>
											Select
											Categories
										</span><span class="motta-svg-icon motta-svg-icon--close header-search__categories-close">
											<svg width="24" height="24" aria-hidden="true" role="img"
												 focusable="false" viewBox="0 0 32 32">
												<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
												</path>
											</svg>
										</span>
									</div>
									<ul class="header-search__categories-container"
										style="--mt-header-search-cats-rows: 6">
										<li>
											<a href="https://motta.uix.store/product-category/smart-appliances/"
											   data-slug="smart-appliances">Smart Appliances</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/smart-tv/"
											   data-slug="smart-tv">Smart TV</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/air-prifiers/"
											   data-slug="air-prifiers">Air Prifiers</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/automobiles-motorcycles/"
											   data-slug="automobiles-motorcycles">
												Automobiles &amp;
												Motorcycles
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/beauty-health/"
											   data-slug="beauty-health">Beauty &amp; Health</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/collectibles-art/"
											   data-slug="collectibles-art">Collectibles &amp; Art</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/electronics/"
											   data-slug="electronics">Electronics</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/fashion/"
											   data-slug="fashion">Fashion</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/footwear/"
											   data-slug="footwear">Footwear</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/homegarden/"
											   data-slug="homegarden">Home &amp; Garden</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/jewelry/"
											   data-slug="jewelry">Jewelry &amp; Accessories</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/kitchen-dining-2/"
											   data-slug="kitchen-dining-2">Kitchen &amp; Dining</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/motherkids/"
											   data-slug="motherkids">Mother &amp; Kids</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/sports/"
											   data-slug="sports">Sports &amp; Entertainment</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/tools-home-improvement/"
											   data-slug="tools-home-improvement">
												Tools &amp; Home
												Improvement
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product-category/toysgames/"
											   data-slug="toysgames">Toys &amp; Games</a>
										</li>
										<li><a href="#" class="active" data-slug="0">All Categories</a></li>
									</ul>
								</div>

								<span class="motta-svg-icon motta-svg-icon--close close-search-results">
									<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
										</path>
									</svg>
								</span>
								<div class="header-search__results search-results woocommerce">
									<div id="add_search1"></div>
								</div>
							</div>


							<button class="header-search__button motta-button  motta-button--icon motta-button--raised"
									type="submit" aria-label="">
								<span class="motta-button__icon">
									<span class="motta-svg-icon motta-svg-icon--search">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
											</path>
										</svg>
									</span>
								</span>
							</button>
							<input type="hidden" name="post_type" class="header-search__post-type"
								   value="product">
						</form>
					</div>
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">
								<span class="motta-button__text--account">Account</span>
							</span>
						</a>
					</div>
					<div class="header-cart">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel" class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="site-header__mobile site-header__section  motta-header-sticky header-sticky--normal header-v1">
		<div class="header-mobile-main header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-hamburger hamburger-menu" data-toggle="off-canvas"
						 data-target="mobile-menu-panel">
						<span class="motta-svg-icon motta-svg-icon--hamburger hamburger__icon">
							<svg width="24"
								 height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 27 32">
								<path d="M0 6.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 14.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 22.667h26.667v2.667h-26.667v-2.667z"></path>
							</svg>
						</span>
					</div>
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items ">
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel
						   class="motta-button motta-button--icon motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">
								<span class="motta-button__text--account"></span>
							</span>
						</a>
					</div>
					<div class="header-cart">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel"
						   class="motta-button motta-button--icon motta-button--subtle">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="header-mobile-bottom header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-search header-search--form motta-skin--raised header-search--outside header-search--simple">
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
								<div class="header-search__trending header-search__trending--outside">
									<div class="header-search__trending-label">Trending Searches</div>

									<ul class="header-search__trending-links">
										<li>
											<a href="https://motta.uix.store/product/11-inch-tablet-pro-2020-space-gray/">
												11-inch
												Tablet Pro 2020 Space Gray
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/af-1-shadow-womens-sneaker-cream-color/">
												AF
												1 Shadow Women’s Sneaker (Cream Color)
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/game-controller-console-usb-wired-connection-gamepad/">
												Game
												Controller Console USB Wired connection Gamepad
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/4-in-1-convertible-car-seat/">
												4-in-1
												Convertible Car Seat
											</a>
										</li>
										<li>
											<a href="https://motta.uix.store/product/dekora-wire-chair-checker-se-18/">
												Dekora
												Wire Chair Checker SE 18
											</a>
										</li>
									</ul>
								</div>


								<span class="motta-svg-icon motta-svg-icon--close close-search-results">
									<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
										</path>
									</svg>
								</span>
								<div class="header-search__results search-results woocommerce">
									<div id="add_search2"> </div>
								</div>
							</div>


							<button class="header-search__button motta-button  motta-button--icon motta-button--raised"
									type="submit" aria-label="">
								<span class="motta-button__icon">
									<span class="motta-svg-icon motta-svg-icon--search">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
											</path>
										</svg>
									</span>
								</span>
							</button>

							<input type="hidden" name="post_type" class="header-search__post-type"
								   value="product">
						</form>
					</div>
				</div>

			</div>
		</div>
		<div class="header-mobile-sticky header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-hamburger hamburger-menu" data-toggle="off-canvas"
						 data-target="mobile-menu-panel">
						<span class="motta-svg-icon motta-svg-icon--hamburger hamburger__icon">
							<svg width="24"
								 height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 27 32">
								<path d="M0 6.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 14.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 22.667h26.667v2.667h-26.667v-2.667z"></path>
							</svg>
						</span>
					</div>
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items ">

					<div class="header-mobile-search">
						<a href="https://motta.uix.store/" data-toggle="modal" data-target="search-modal"
						   class="motta-button--icon motta-button motta-button--text">
							<span class="motta-svg-icon motta-svg-icon--search">
								<svg width="24" height="24"
									 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
									<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
									</path>
								</svg>
							</span>
						</a>
					</div>
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel
						   class="motta-button motta-button--icon motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">
								<span class="motta-button__text--account"></span>
							</span>
						</a>
					</div>
					<div class="header-cart">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel"
						   class="motta-button motta-button--icon motta-button--subtle">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	let debounceTimeout;

	$(document).on('input', '.header-search__field', function () {
		var query = $(this).val().trim();

		clearTimeout(debounceTimeout);

		debounceTimeout = setTimeout(function () {
			if (query.length >= 3) {

				$.ajax({
					url: '@Url.Action("Search", "Home")',
					type: 'GET',
					data: { query: query },
					success: function (result) {
						if (window.innerWidth >=1025) {
							$('#add_search1').html(result);
							$('#add_search1').removeClass('hidden');
						} else {
							$('#add_search2').html(result);
							$('#add_search2').removeClass('hidden');
						}

					},
					error: function () {
						$('#add_search1').html('<p>Không tìm thấy sản phẩm.</p>');
						$('#add_search2').html('<p>Không tìm thấy sản phẩm.</p>');
					}
				});
			} else {
				$('#add_search1').empty();
				$('#add_search2').empty();
			}
		}, 300);
	});
</script>


