<div id="site-header-minimized"></div>
<header id="site-header" class="site-header">
	<div class="site-header__desktop site-header__section  motta-header-sticky header-sticky--normal header-v1">
		<div class="header-main header-contents no-center has-search-item">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
						<h1 class="site-title"><a asp-area="Customer" asp-controller="Home" asp-action="Index" rel="home">Motta</a></h1>
						<p class="site-description">Just another WordPress site</p>
					</div>
				</div>


				<div class="header-right-items header-items has-search">

					<div class="header-search header-search--form header-search--large motta-skin--raised header-search--outside"
						 data-width=655 style=&quot;max-width:655px&quot;>
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
								<div class="header-search__divider"></div>
								<span class="motta-svg-icon motta-svg-icon--close close-search-results">
								</span>
								<div class="header-search__results search-results woocommerce">
									<div id="add_search1"> </div>
								</div>
							</div>


							<button class="header-search__button motta-button  motta-button--icon motta-button--raised"
									type="submit" aria-label="">
								<span class="motta-button__icon">
									<span class="motta-svg-icon motta-svg-icon--search">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
											</path>
										</svg>
									</span>
								</span>
							</button>
							<input type="hidden" name="post_type" class="header-search__post-type"
								   value="product">
						</form>
					</div>
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">
								<span class="motta-button__text--account">Account</span>
							</span>
						</a>
					</div>
					<div class="header-cart" onclick="cart()">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel" class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">Cart</span>

							@await Component.InvokeAsync("ProductCount")
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="header-bottom header-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items has-menu">
					<div class="header-category-menu header-category--both header-category--show ">
						<div class="header-category__title motta-button--ghost">
							<span class="motta-svg-icon motta-svg-icon--categories header-category__icon">
								<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
									 viewBox="0 0 32 32">
									<path d="M7.2 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 4.8c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M7.2 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 24c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M7.2 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M26.4 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
									<path d="M16.8 14.4c-1.328 0-2.4 1.072-2.4 2.4s1.072 2.4 2.4 2.4 2.4-1.072 2.4-2.4-1.072-2.4-2.4-2.4v0z">
									</path>
								</svg>
							</span><span class="motta-svg-icon motta-svg-icon--select-arrow header-category__arrow">
								<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
									 viewBox="0 0 32 32">
									<path d="M16 30.112l-15.072-15.040 4.544-4.544 10.528 10.56 10.528-10.56 4.544 4.544z">
									</path>
								</svg>
							</span><span class="header-category__name">Shop by Category</span>
						</div>
						<div class="header-category__content">
							<nav class="header-category__menu">
								<ul id="menu-category-menu" class="menu">
									@await Component.InvokeAsync("CategoryItem")
								</ul>
							</nav>

						</div>
					</div>

					
				</div>

			</div>
		</div>
		<div class="header-sticky header-contents no-center has-search-item">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items has-search">

					<div class="header-search header-search--form header-search--large motta-skin--raised header-search--outside"
						 data-width=655 style=&quot;max-width:655px&quot;>
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
								<div class="header-search__divider"></div>
								<div class="header-search__categories-label">
									<span class="header-search__categories-text">All Categories</span><span class="motta-svg-icon motta-svg-icon--select-arrow">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M16 30.112l-15.072-15.040 4.544-4.544 10.528 10.56 10.528-10.56 4.544 4.544z">
											</path>
										</svg>
									</span>
								</div>
								<input class="category-name" type="hidden" name="product_cat" value="0">
							</div>
						</form>
					</div>
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel class="motta-button  motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text ">
								<span class="motta-button__text--account">Account</span>
							</span>
						</a>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="site-header__mobile site-header__section  motta-header-sticky header-sticky--normal header-v1">
		<div class="header-mobile-main header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-hamburger hamburger-menu" data-toggle="off-canvas"
						 data-target="mobile-menu-panel">
						<span class="motta-svg-icon motta-svg-icon--hamburger hamburger__icon">
							<svg width="24"
								 height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 27 32">
								<path d="M0 6.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 14.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 22.667h26.667v2.667h-26.667v-2.667z"></path>
							</svg>
						</span>
					</div>
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items ">
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel
						   class="motta-button motta-button--icon motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">
								<span class="motta-button__text--account"></span>
							</span>
						</a>
					</div>
					@* Mobile Cart *@
					<div class="header-cart">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel"
						   class="motta-button motta-button--icon motta-button--subtle">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="header-mobile-bottom header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-search header-search--form motta-skin--raised header-search--outside header-search--simple">
						<form class="header-search__form " method="get" action="@Url.Action("SearchProduct", "Home")">
							<div class="header-search__container  motta-type--input-text">

								<input type="text" name="s" class="header-search__field" value=""
									   placeholder="Search for anything" autocomplete="off">
						
								<span class="motta-svg-icon motta-svg-icon--close close-search-results">
									<svg width="24" height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M28.336 5.936l-2.272-2.272-10.064 10.080-10.064-10.080-2.272 2.272 10.080 10.064-10.080 10.064 2.272 2.272 10.064-10.080 10.064 10.080 2.272-2.272-10.080-10.064z">
										</path>
									</svg>
								</span>
								<div class="header-search__results search-results woocommerce">
									<div id="add_search2"> </div>
								</div>
							</div>


							<button class="header-search__button motta-button  motta-button--icon motta-button--raised"
									type="submit" aria-label="">
								<span class="motta-button__icon">
									<span class="motta-svg-icon motta-svg-icon--search">
										<svg width="24"
											 height="24" aria-hidden="true" role="img" focusable="false"
											 viewBox="0 0 32 32">
											<path d="M28.8 26.544l-5.44-5.44c1.392-1.872 2.24-4.192 2.24-6.704 0-6.176-5.024-11.2-11.2-11.2s-11.2 5.024-11.2 11.2 5.024 11.2 11.2 11.2c2.512 0 4.832-0.848 6.688-2.24l5.44 5.44 2.272-2.256zM6.4 14.4c0-4.416 3.584-8 8-8s8 3.584 8 8-3.584 8-8 8-8-3.584-8-8z">
											</path>
										</svg>
									</span>
								</span>
							</button>
						</form>
					</div>
				</div>

			</div>
		</div>
		<div class="header-mobile-sticky header-mobile-contents no-center">
			<div class="site-header__container container">

				<div class="header-left-items header-items ">

					<div class="header-hamburger hamburger-menu" data-toggle="off-canvas"
						 data-target="mobile-menu-panel">
						<span class="motta-svg-icon motta-svg-icon--hamburger hamburger__icon">
							<svg width="24"
								 height="24" aria-hidden="true" role="img" focusable="false" viewBox="0 0 27 32">
								<path d="M0 6.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 14.667h26.667v2.667h-26.667v-2.667z"></path>
								<path d="M0 22.667h26.667v2.667h-26.667v-2.667z"></path>
							</svg>
						</span>
					</div>
					<div class="header-logo">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index">
							<img src="https://motta.uix.store/wp-content/themes/motta/images/logo.svg"
								 class="logo-dark" alt="Motta">
						</a>
					</div>
				</div>


				<div class="header-right-items header-items ">
					<div class="header-account">
						<a asp-action="MyAccount" data-toggle=off-canvas
						   data-target=account-panel
						   class="motta-button motta-button--icon motta-button--text">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--account">
									<svg width="24" height="24"
										 aria-hidden="true" role="img" focusable="false" viewBox="0 0 32 32">
										<path d="M16 16c-4.064 0-6.4-2.336-6.4-6.4 0-3.536 2.864-6.4 6.4-6.4s6.4 2.864 6.4 6.4c0 4-2.4 6.4-6.4 6.4zM16 6.4c-1.76 0-3.2 1.44-3.2 3.2 0 2.272 0.928 3.2 3.2 3.2 2.24 0 3.2-0.96 3.2-3.2 0-1.76-1.44-3.2-3.2-3.2z">
										</path>
										<path d="M27.2 28.8h-22.4v-3.2c0-4.416 3.584-8 8-8h6.4c4.416 0 8 3.584 8 8v3.2zM8 25.6h16c0-2.64-2.16-4.8-4.8-4.8h-6.4c-2.64 0-4.8 2.16-4.8 4.8z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">
								<span class="motta-button__text--account"></span>
							</span>
						</a>
					</div>
					<div class="header-cart">
						<a href="https://motta.uix.store/cart/" data-toggle="off-canvas"
						   data-target="cart-panel"
						   class="motta-button motta-button--icon motta-button--subtle">
							<span class="motta-button__icon">
								<span class="motta-svg-icon motta-svg-icon--cart-trolley">
									<svg width="24"
										 height="24" aria-hidden="true" role="img" focusable="false"
										 viewBox="0 0 32 32">
										<path d="M25.248 22.4l3.552-14.4h-18.528l-0.96-4.8h-6.112v3.2h3.488l3.2 16h15.36zM24.704 11.2l-1.968 8h-10.24l-1.6-8h13.808z">
										</path>
										<path d="M25.6 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
										<path d="M14.4 26.4c0 1.325-1.075 2.4-2.4 2.4s-2.4-1.075-2.4-2.4c0-1.325 1.075-2.4 2.4-2.4s2.4 1.075 2.4 2.4z">
										</path>
									</svg>
								</span>
							</span>
							<span class="motta-button__text  screen-reader-text">Cart</span>
							<span class="header-counter header-cart__counter hidden">0</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	let debounceTimeout;

	$(document).on('input', '.header-search__field', function () {
		var query = $(this).val().trim();

		clearTimeout(debounceTimeout);

		debounceTimeout = setTimeout(function () {
			if (query.length >= 3) {

				$.ajax({
					url: '@Url.Action("Search", "Home")',
					type: 'GET',
					data: { query: query },
					success: function (result) {
						if (window.innerWidth >=1025) {
							$('#add_search1').html(result);
							$('#add_search1').removeClass('hidden');
						} else {
							$('#add_search2').html(result);
							$('#add_search2').removeClass('hidden');
						}

					},
					error: function () {
						$('#add_search1').html('<p>Không tìm thấy sản phẩm.</p>');
						$('#add_search2').html('<p>Không tìm thấy sản phẩm.</p>');
					}
				});
			} else {
				$('#add_search1').empty();
				$('#add_search2').empty();
			}
		}, 300);
	});
</script>


