@model IEnumerable<Category>



@foreach(var item in Model)
{
	<li id="menu-item-17136" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-17136 menu-item-mega menu-item-has-background menu-item-has-children menu-item-has-icon">
		<a asp-action="ProductsByCategory" asp-controller="Home" asp-route-slug="@item.Slug">@item.Name</a>
	</li>	
}
		

