@model IEnumerable<Category>

<nav class="header-category__menu">
	<ul id="menu-category-menu" class="menu">
		@* CategoryItem *@

		@foreach(var item in Model)
		{
			<li id="menu-item-17136" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-17136 menu-item-mega menu-item-has-background menu-item-has-children menu-item-has-icon">
				<a href="https://motta.uix.store/product-category/homegarden/"
						data-title="Home &amp; Garden"
						data-image="https://motta.uix.store/wp-content/uploads/2022/09/homegarden-hm.jpg">
					@item.Name
				</a>
			</li>	
		}
		

	</ul>
</nav>