@using MVEcommerce.Models
@using MVEcommerce.Utility
@model List<Vendor>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_AdminPageLayout.cshtml";
}

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center mb-3">
            <div class="col-sm mb-2 mb-sm-0">
                <h1 class="page-header-title">
                    Vendors
                </h1>
            </div>
        </div>
        <!-- End Row -->
        <!-- Nav Scroller -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal">
            <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                    <i class="bi-chevron-left"></i>
                </a>
            </span>

            <span class="hs-nav-scroller-arrow-next" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                    <i class="bi-chevron-right"></i>
                </a>
            </span>

            <!-- Nav -->
            <ul class="nav nav-tabs page-header-tabs" id="pageHeaderTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0)" 
                    onclick="loadProducts('all')">All Vendors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" 
                    onclick="loadProducts('@VendorStatus.PENDING')">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" 
                    onclick="loadProducts('@VendorStatus.ACTIVE')">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" 
                    onclick="loadProducts('@VendorStatus.INACTIVE')">Inactive</a>
                </li>
            </ul>
            <!-- End Nav -->
        </div>
        <!-- End Nav Scroller -->
    </div>
    <!-- End Page Header -
    <!-- End Row -->
    <!-- Card -->
    <div class="card" id="productsContainer">
        @await Html.PartialAsync("_AdminVendorAjaxPartial", Model)
    </div>
    <!-- End Card -->
</div>


<script>
function loadProducts(status) {
    // Update active tab
    document.querySelectorAll('#pageHeaderTab .nav-link').forEach(link => {
        link.classList.remove('active');
    });
    event.target.classList.add('active');

    // Make AJAX call
    $.ajax({
        url: '@Url.Action("GetFilteredVendor", "Home")',
        type: 'GET',
        data: { status: status },
        success: function(response) {
            $('#productsContainer').html(response);
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
